Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

fix(lint): resolve all statix, deadnix, nixpkgs-fmt warnings
  .forgejo/workflows/ci-pipeline.yaml
  .forgejo/workflows/flake-check.yaml
  docs/ci/TASKS.design-architecture-implementation-omnibus-ci-overhaul-complete-exhaustive.md
  flake.nix
  src/config/default.nix
  src/config/tree/default.nix
  src/devshells/default.nix
  src/devshells/frontend.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/lib/alias-wrappers.nix
  src/lib/readline.nix
  src/modules/default.nix
  src/modules/home-manager.nix
  src/modules/pki.nix
  src/overlays/code-server.nix
  src/overlays/ttyd.nix
  src/packages/cli.nix
  src/packages/konductor.nix
  src/packages/languages.nix
  src/programs/default.nix
  src/programs/forgejo/default.nix
  src/programs/ghostty-web/default.nix
  src/programs/neovim/plugins.nix
  src/programs/tmux/default.nix
  src/programs/ttyd/default.nix
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
  src/qcow2/make-disk-image-fast.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

revert(shell): remove macOS PATH hack from bash_profile
  src/lib/shell-content.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): skip /etc/profile on macOS to prevent path_helper from breaking PATH
  src/lib/shell-content.nix
Due: nix-format, nix-lint, nix-deadcode

fix(modules,overlays): add darwin platform guards for multi-platform support
  src/modules/common.nix
  src/modules/darwin.nix
  src/modules/home-manager.nix
  src/overlays/code-server.nix
  src/overlays/ttyd.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): skip /etc/profile on macOS to preserve Nix PATH ordering
  src/lib/shell-content.nix
Due: nix-format, nix-lint, nix-deadcode

fix(lint): resolve all statix, deadnix, nixpkgs-fmt warnings
  src/modules/home-manager.nix
  src/overlays/code-server.nix
  src/overlays/ttyd.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): increase flake-check timeout and add libstdc++ to LD_LIBRARY_PATH
  .forgejo/workflows/flake-check.yaml
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

fix(ci): add vendor flake inputs step to ci-pipeline
  .forgejo/workflows/ci-pipeline.yaml
Due: prettier-check, yaml-lint

fix(ci): add debug tracing to vendor and build steps
  docs/ci/build.md
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(nix): set download-buffer-size to 256MB
  flake.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(runner): add systemd race condition safeguards for forgejo-runner
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): increase inner VM RAM and make host-nix substituter non-blocking
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): use full nix store paths in host-nix-store service
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): cap inner build VM to 4 CPUs to prevent cluster starvation
  src/qcow2/default.nix
  src/qcow2/make-disk-image-fast.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): use system-scope systemd units for virtiofsd in headless CI
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(runner): add retry with backoff for forgejo runner registration
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): increase validate:runner workflow poll timeout to 90 minutes
  docs/ci/validate.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): SSH agent forwarding propagation for Open Sesame vaults
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(proxy): source proxy.env in bash shellInit for all shell types
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): use fd instead of find for directory permission fix
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(proxy): restart nix-daemon after proxy.env is written by cloud-init
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): add git to PATH for pki-vm and pki-signed systemd services
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): use vendored inputs for dev:rebase to avoid network fetches
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(konductor): forgejo UID gap, cert chain, ttyd wrapper, tmpfiles
  src/pki/cli.py
  src/qcow2/default.nix
Due: python-style, python-types, python-security, nix-format, nix-lint, nix-deadcode, spell-check

fix(init): add home mount dependency to per-user service drop-ins
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(ci): remove set -x debug verbosity from build tasks
  docs/ci/build.md
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(pki): cross-sign VM CA with platform CA via python PKI utility
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): merge /run/konductor tmpfiles rule into existing declaration
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): add CWD write check to preflight, fix /opt/konductor dir perms
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): remove set -x debug trace from dev:vendor task
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(config): add Catppuccin Frappé theme for btop
  src/config/btop/default.nix
  src/config/default.nix
  src/packages/cli.nix
  src/packages/ide.nix
Due: nix-format, nix-lint, nix-deadcode

chore(flake) nix flake update
  flake.lock
Due: none

fix(pki): use issuer SKI directly for AKI instead of recomputing
  src/pki/cli.py
  src/pki/crypto/leaf.py
Due: python-style, python-types, python-security, spell-check

fix(qcow2): add forgejo-runner proxy drop-in to konductor-proxy-setup
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): use native EnvironmentFile for runner proxy, remove curl health check, fix k9→flake paths
  .forgejo/workflows/ci-pipeline.yaml
  .forgejo/workflows/validate-environment.yaml
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

feat(ci): split pipeline into build + e2e/promote, fix k9→flake paths
  .forgejo/workflows/build-qcow2.yaml
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  .forgejo/workflows/ci-pipeline.yaml
  docs/ci/promote.md
  src/pki/cli.py
Due: python-style, python-types, python-security, prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

style(qcow2): fix statix W04 inherit lint warning
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): checkout infrastructure repo for pulumi platform deployment
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
Due: prettier-check, yaml-lint

fix(qcow2): declarative DNS routing for docker-dev CoreDNS
  flake.lock
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
