Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}

feat(languages): add pkgs.bun to nodejsPackages for Tauri 2.x project support
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): use explicit path iteration for libstdc++ detection in preflight
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(overlay): replace code-server source build with pre-built binary
  src/overlays/code-server.nix
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(overlay): correct code-server tarball hash for fetchurl without unpack
  src/overlays/code-server.nix
Due: nix-format, nix-lint, nix-deadcode

fix(overlay): add native lib buildInputs, remove musl/MSAL binaries
  src/overlays/code-server.nix
Due: nix-format, nix-lint, nix-deadcode

chore(ci): update flake inputs, fix host-store mount restart during rebuild
  docs/ci/build.md
  flake.lock
Due: prettier-check, markdown-style, spell-check, markdown-links

perf(packages): disable wrangler — 122K files in node_modules bloats closure
  src/packages/ide.nix
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): restart host-store automount after nixos-rebuild switch
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use git-clean flake ref in VM rebuild for host-store cache hits
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): preserve 9p host-store mount across VM lifecycle
  docs/ci/build.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(ci): replace 9p with virtiofs + add iothread/multi-queue virtio-blk
  docs/ci/build.md
  src/packages/konductor.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(ci): use --inode-file-handles=prefer for unprivileged virtiofsd
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): reduce virtiofs request queues to 2 with queue-size 256
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use default virtiofs queue config (single request queue)
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): redirect virtiofsd output to log and disown
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use setsid to fully detach virtiofsd from runme process tree
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): split virtiofsd into background runme block to prevent hang
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

refactor(ci): replace nested runme-in-runme with --all --tag pipeline
  docs/ci/README.md
  docs/ci/build.md
  docs/ci/verify.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use systemd-run for virtiofsd instead of runme background
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci,qcow2): fix ttyd service ordering race and tolerate exit code 4
  docs/ci/build.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(ci): reset-failed virtiofsd-nixstore after stop to allow re-creation
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use PATH-resolved bash, pre-build toplevel for VM cache
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): restore absolute shell path in cloud-init user-data
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

debug(ci): add PATH diagnostics to _build:vm:gc to find runme env loss
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): remove set -u from provenance to fix runme env corruption
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

debug(ci): add xtrace to provenance block to capture runme env dump behavior
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

test(ci): add env corruption reproduction test for runme --all mode
  docs/ci/test-env.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): rewrite provenance to write file directly, no multi-line bash vars
  docs/ci/build.md
  docs/ci/test-env.md
Due: prettier-check, markdown-style, spell-check, markdown-links

test(ci): update env test to match rewritten provenance block
  docs/ci/test-env.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): pre-build with same --override-input flags VM uses
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use nix store paths for vendored inputs instead of rsync copies
  docs/ci/build.md
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): resolve gc failure from virtiofsd fd exhaustion on overlayfs
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): retry gc up to 3 times to handle overlayfs fd exhaustion
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

refactor(qcow2): replace nix store overlay with substituter pattern
  docs/BOOTSEQUENCE.md
  docs/ci/README.md
  docs/ci/build.md
  docs/ci/dev.md
  docs/ci/platform.md
  docs/ci/promote.md
  docs/ci/push.md
  docs/ci/registry.md
  docs/ci/test-env.md
  docs/ci/validate.md
  docs/ci/verify.md
  runme.yaml
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(qcow2): bake flake inputs into image, read-only host store substituter
  docs/BOOTSEQUENCE.md
  docs/ci/build.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(ci): align runme pipeline with proven build.md patterns
  docs/ci/README.md
  docs/ci/build.md
  docs/ci/dev.md
  docs/ci/platform.md
  docs/ci/promote.md
  docs/ci/push.md
  docs/ci/registry.md
  docs/ci/validate.md
  docs/ci/verify.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(ci): runner provenance attestation, workflows, and Phase 8 enablement
  .forgejo/workflows/ci-pipeline.yaml
  .forgejo/workflows/flake-check.yaml
  .forgejo/workflows/promote.yaml
  docs/ci/README.md
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(pki): vertically align systemd PKI chain with udev mount ordering
  src/modules/pki.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): add SSL_CERT_FILE to forgejo-runner for NixOS immutable trust store
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): bake CI devshell closure into image, fix runner deadlock
  flake.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode
