Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

fix(forgejo): use buildGoModule for forked runner
  docs/developer_guide/qcow2/BUILD.md
  src/programs/forgejo/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(ci): add forked runner validation and use ripgrep consistently
  .forgejo/workflows/validate-environment.yaml
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

feat(qcow2): add home-manager for built-in user home directories
  docs/developer_guide/qcow2/BUILD.md
  flake.lock
  flake.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): use canonical bashrc from config/shell for Atuin support
  src/lib/shell-content.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): force overwrite atuin config in home-manager
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): use configurable password for Forgejo runner user
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): check correct workflow status in runner-test
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

chore(flake): update forgejo-runner-src to workspace clone fix
  docs/developer_guide/qcow2/BUILD.md
  flake.lock
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(ci): add comprehensive env audit to validate workflow
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

chore(flake): update forgejo-runner-src to 2ba03ee
  flake.lock
Due: none

feat(ci): add direnv integration for environment loading
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(ci): GITHUB_ENV heredoc syntax and remove grep alias
  .forgejo/workflows/validate-environment.yaml
  src/config/shell/.bashrc
  src/lib/aliases.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

chore(update) nix flake update
  flake.lock
Due: none

fix(devshells): move forge CLIs to cli.nix, remove runner from konductor
  src/devshells/ci.nix
  src/devshells/konductor.nix
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

chore(flake): update forgejo-runner-src to 84e3c2e1
  flake.lock
Due: none

feat(policy): add repo-level .forgejo/envrc enforcement
  .forgejo/envrc
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(workflow): add konductor provenance to validation summary
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(runner-test): use braincraft org for test repo
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(workflow): fail validation when SSH key missing
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

chore(flake): update forgejo-runner-src
  flake.lock
Due: none

feat(envrc): detect konductor environment and skip flake load
  .envrc
Due: none

feat(tmux): complete configuration rewrite with catppuccin rounded style
  .env.example
  src/config/shell/bash.nix
  src/lib/readline.nix
  src/oci/default.nix
  src/programs/neovim/plugins.nix
  src/programs/tmux/default.nix
  src/programs/tmux/test.sh
  src/qcow2/default.nix
Due: shell-syntax, nix-format, nix-lint, nix-deadcode

feat(tmux): add which-key keybinding discovery and smart session management
  src/lib/alias-wrappers.nix
  src/lib/aliases.nix
  src/programs/tmux/default.nix
  src/programs/tmux/which-key.yaml
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

feat(shell): optimize prompt for actionable info, move ambient context to tmux
  src/config/shell/.bashrc
  src/config/shell/starship.toml
  src/lib/aliases.nix
  src/programs/tmux/default.nix
Due: toml-lint, nix-format, nix-lint, nix-deadcode

fix(shell): add IDE agent terminal guards to prevent command hangs
  src/config/shell/.bashrc
  src/devshells/base.nix
  src/devshells/ci.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
Due: nix-format, nix-lint, nix-deadcode

feat(tmux): SSOT bashrc integration with direct direnv environment loading
  flake.lock
  src/programs/tmux/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): cat wrapper uses plain cat for heredocs and pipes
  src/lib/alias-wrappers.nix
Due: nix-format, nix-lint, nix-deadcode

feat(shell): add grep wrapper using ripgrep with GNU flag compatibility
  src/lib/alias-wrappers.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): unalias cat/grep after sourcing user bashrc
  src/config/shell/.bashrc
Due: none

fix(shell): handle combined short flags in grep wrapper and add .rgignore
  .rgignore
  src/lib/alias-wrappers.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): use bashInteractive for dirspell and complete support
  src/config/shell/.bashrc
  src/devshells/base.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update nixpkgs-unstable
  flake.lock
Due: none

fix(qcow2): use KUBECTL_CONTEXT and correct kubeconfig path
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(envrc): correct kubeconfig path to clusters/docker-dev
  .envrc
Due: none

fix(qcow2): clean up cloud-init modules and suppress 9p errors
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): support 4-digit octal modes and standardize env conventions
  .env.docker-dev.example
  .envrc
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): support 4-digit octal modes and standardize env conventions
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): support 4-digit octal modes and standardize env conventions
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
