Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

feat(qcow2): system-wide open-sesame headless for all users including cloud-init
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): integrate open-sesame headless daemons into konductor VM
  flake.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): sync open-sesame integration with v1.5.0 two-package model
  flake.lock
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): allow sudo in ttyd web terminal (NoNewPrivileges=false)
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): ship open-sesame headless secret vaults in konductor image
  docs/ci/README.md
  flake.lock
  flake.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): complete open-sesame integration for all user lifecycles
  flake.lock
  flake.nix
  src/packages/ai.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(config): use transparent Catppuccin Frappé skin for k9s
  src/config/k9s/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): replace /etc/skel symlinks with real-file derivation for cloud-init user provisioning
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): add docker-dev DNS, runner proxy, ttyd sudo, PKI trust store, CI workflow split
  .forgejo/workflows/build-qcow2.yaml
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  .forgejo/workflows/ci-pipeline.yaml
  src/pki/cli.py
  src/qcow2/default.nix
Due: python-style, python-types, python-security, prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, spell-check

fix(flake): remove duplicate open-sesame input and revert katmorg merge artifacts
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  .forgejo/workflows/validate-environment.yaml
  docs/ci/README.md
  docs/ci/promote.md
  flake.nix
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): restore profile.d skel copy + runcmd home dir chown for cloud-init users
  docs/ci/build.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): provide full systemd.user.services definitions for open-sesame
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(cloud-init): populate home dirs from skel at boot, not login
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): correct open-sesame launcher binary name to daemon-launcher
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(darwin): enable CGO for direnv build on aarch64-darwin
  flake.lock
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(ci): remove debug lines, fix README.md shell for Pop!_OS hosts
  docs/ci/README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): remove build host user from cloud-init user-data
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

chore(update) nix flake update
  flake.lock
Due: none

chore: update open-sesame to latest with config reload fix
  flake.lock
Due: none

fix(shell): remove IN_NIX_SHELL guard on direnv hook
  src/config/shell/.bashrc
Due: none

chore(update): nix flake update
  flake.lock
Due: none

feat(runner): point forgejo-runner-src at central01 Forgejo
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ai): use claude-code-bin for bundled native binary
  src/packages/ai.nix
Due: nix-format, nix-lint, nix-deadcode

fix(flake): switch to claude-code-bin, add COLORTERM, fix vendor auto-run
  docs/ci/build.md
  flake.lock
  flake.nix
  src/lib/env.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(ci): separate push and promote registry targets
  docs/ci/promote.md
  docs/ci/push.md
  docs/ci/registry.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): remove build-time proxy config from sealed QCOW2 image
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): hardcode registry.docker.arpa in build, rename to projv-engprod
  docs/ci/README.md
  docs/ci/build.md
  docs/ci/promote.md
  docs/ci/push.md
  docs/ci/registry.md
  docs/ci/test-env.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(promote): use PROMOTE_REGISTRY/PROMOTE_IMAGE instead of CONTAINER vars
  docs/ci/promote.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(env): set projv-engprod/konductor as default image in flake env
  .env.docker-dev.example
  CLAUDE.md
  docs/ci/README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(preflight): show image pipeline targets before build
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

chore(flake): update forgejo-runner-src to 99787f5 (workspace clone auth fix)
  flake.lock
Due: none

fix(validate): use projv-engprod as Forgejo repo owner in runner test
  docs/ci/validate.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): use projv-engprod/konductor as default image in ci-build workflow
  .forgejo/workflows/ci-build.yaml
Due: prettier-check, yaml-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
