Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}

fix(packages): bump docker 28 to docker_29 (28 marked insecure in nixpkgs)
  flake.lock
  src/packages/default.nix
  src/packages/konductor.nix
Due: nix-format, nix-lint, nix-deadcode

ci(www): add GitHub Pages deployment workflow for konductor.sh
  .github/workflows/pages.yaml
Due: prettier-check, yaml-lint, actions-lint

fix(ci): switch to cachix nix installer, drop pnpm cache
  .github/workflows/pages.yaml
Due: prettier-check, yaml-lint, actions-lint

fix(www): add sharp dependency for image optimization in CI
  www/sites/konductor.sh/package.json
Due: prettier-check

chore(www): upgrade to Astro 6, update all dependencies
  www/sites/konductor.sh/package.json
  www/sites/konductor.sh/src/components/Sidebar.astro
  www/sites/konductor.sh/src/content.config.ts
  www/sites/konductor.sh/src/content/config.ts
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/manual/index.astro
Due: js-quality, js-style, prettier-check, spell-check

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

fix(www): use GitHub Pages project site URL with base path
  www/sites/konductor.sh/astro.config.mjs
Due: js-quality, js-style

refactor(www): centralize internal links with href() path helper
  www/sites/konductor.sh/src/components/Navbar.astro
  www/sites/konductor.sh/src/components/Sidebar.astro
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/pages/about.astro
  www/sites/konductor.sh/src/pages/index.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/manual/index.astro
  www/sites/konductor.sh/src/pages/specs.astro
  www/sites/konductor.sh/src/utils/paths.ts
Due: js-quality, js-style, prettier-check, spell-check

fix(www): correct comment in paths helper
  www/sites/konductor.sh/src/utils/paths.ts
Due: js-quality, js-style, prettier-check, spell-check

feat(www): add collapsible sidebar toggle for manual pages
  www/sites/konductor.sh/src/components/Sidebar.astro
Due: none

maintenance(update) nix flake update
  flake.lock
Due: none

fix(overlay): update claude-code VSIX hash for 2.1.175
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(overlay): update claude-code VSIX hash for 2.1.185
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(packages): resolve pyright buildEnv collision via lib.hiPrio on linters wrapper
  src/packages/default.nix
  src/packages/linters.nix
Due: nix-format, nix-lint, nix-deadcode

feat(claude-code): add hermetic Claude Code harness with wrapped CLI and plugins
  .claude-plugin/marketplace.json
  src/config/claude-code/claude-wrapper.sh
  src/config/claude-code/context.md
  src/config/claude-code/default.nix
  src/config/claude-code/output-styles/staff-engineer.md
  src/config/claude-code/permissions.nix
  src/config/claude-code/plugins/konductor-practitioner/.claude-plugin/plugin.json
  src/config/claude-code/plugins/konductor-practitioner/hooks/commit-guard.sh
  src/config/claude-code/plugins/konductor-practitioner/hooks/hooks.json
  src/config/claude-code/plugins/konductor-practitioner/skills/git-commit/SKILL.md
  src/config/claude-code/plugins/konductor-practitioner/skills/nix-idioms/SKILL.md
  src/config/claude-code/plugins/konductor/.claude-plugin/plugin.json
  src/config/claude-code/plugins/konductor/.lsp.json
  src/config/claude-code/plugins/konductor/agents/k8s-debugger.md
  src/config/claude-code/plugins/konductor/agents/pulumi-engineer.md
  src/config/claude-code/plugins/konductor/hooks/hooks.json
  src/config/claude-code/plugins/konductor/hooks/nix-fmt.sh
  src/config/claude-code/plugins/konductor/hooks/secret-scan.sh
  src/config/claude-code/plugins/konductor/skills/pulumi/SKILL.md
  src/config/claude-code/plugins/konductor/skills/qcow2/SKILL.md
  src/config/claude-code/plugins/konductor/skills/runme/SKILL.md
  src/config/claude-code/plugins/konductor/skills/talos/SKILL.md
  src/config/claude-code/rules/commits.md
  src/config/claude-code/settings.nix
  src/config/claude-code/setup-hook.sh
  src/config/claude-code/statusline.nix
  src/config/claude-code/statusline.sh
  src/config/default.nix
  src/packages/ai.nix
  src/packages/default.nix
Due: prettier-check, shell-syntax, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(claude-code): render context bar with UTF-8-safe glyph repeat
  src/config/claude-code/statusline.sh
Due: shell-syntax

feat(claude-code): default to Opus 4.6 1M context and per-action approval prompts
  src/config/claude-code/permissions.nix
  src/config/claude-code/settings.nix
Due: nix-format, nix-lint, nix-deadcode

docs(claude-code): add harness CLAUDE.md and discovery skill
  src/config/claude-code/CLAUDE.md
  src/config/claude-code/plugins/konductor-practitioner/skills/discovery/SKILL.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(flake): use lambda system binding instead of deprecated stdenv.system
  flake.nix
  src/config/claude-code/plugins/konductor-practitioner/skills/git-commit/SKILL.md
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(pulumi): wheel-pin Pulumi SDK 3.244.0 with matching CLI and providers
  src/config/linters/pyright/default.nix
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

docs(claude-code): add tree depth doctrine to discovery skill
  src/config/claude-code/plugins/konductor-practitioner/skills/discovery/SKILL.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(packages): add ansible engine package category
  src/config/default.nix
  src/packages/ansible/default.nix
  src/packages/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(ansible): ship hermetic ansible-lint with the ansible category
  src/config/linters/ansible-lint/.ansible-lint.yml
  src/config/linters/ansible-lint/default.nix
  src/packages/ansible/default.nix
  src/packages/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

fix(ansible-lint): floor-not-ceiling config resolution, deduplicate .gitignore
  .gitignore
  src/config/linters/ansible-lint/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(ansible): add mitogen 0.3.50 acceleration and serverscom.mitogen collection
  flake.lock
  src/lib/versions.nix
  src/packages/ansible/default.nix
  src/packages/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(update) nix flake update
  flake.lock
Due: none

fix(claude) assert models
  src/config/claude-code/settings.nix
Due: nix-format, nix-lint, nix-deadcode

feat(k0s): ship k0s and k0sctl as on-demand kubernetes capability
  flake.lock
  flake.nix
  src/config/claude-code/permissions.nix
  src/config/claude-code/plugins/konductor/skills/k0s/SKILL.md
  src/config/claude-code/settings.nix
  src/lib/versions.nix
  src/overlays/default.nix
  src/overlays/k0s.nix
  src/packages/cli.nix
  src/packages/default.nix
  src/packages/konductor.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(k0s): ship k0s and k0sctl as on-demand kubernetes capability
  src/overlays/k0s.nix
Due: nix-format, nix-lint, nix-deadcode

chore(docker) update from 28 to 29
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(update) flake
  flake.lock
Due: none

feat(claude-code): ship hermetic system prompt with CLI-flag > env > default precedence
  src/config/claude-code/claude-wrapper.sh
  src/config/claude-code/default.nix
  src/config/claude-code/setup-hook.sh
  src/config/claude-code/system-prompt.md
Due: prettier-check, shell-syntax, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(ansible): add kubernetes python library to ansible-core closure
  src/packages/ansible/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): remove phantom CLUSTER_CA, single-file containerDisk
  Dockerfile.qcow2
  src/pki/cli.py
  src/pki/config.py
  src/pki/crypto/bundle.py
  src/pki/tests/test_pki.py
Due: python-style, python-types, python-security, spell-check

fix(tmux): replace platform clipboard tools with OSC 52 universal clipboard
  src/programs/tmux/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): update claude-code vscode extension hash
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode
