Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

refactor: migrate stdenv.is* to stdenv.hostPlatform.is*, add flake sourceInfo
  flake.nix
  src/devshells/default.nix
  src/devshells/konductor.nix
  src/modules/common.nix
  src/modules/home-manager.nix
  src/overlays/code-server.nix
  src/overlays/default.nix
  src/overlays/ttyd.nix
  src/packages/default.nix
  src/packages/formatters.nix
  src/packages/system.nix
  src/packages/tauri.nix
  src/programs/neovim/default.nix
  src/programs/neovim/plugins.nix
Due: nix-format, nix-lint, nix-deadcode

docs: update CLAUDE.md to current architecture and add maintainer operating model
  CLAUDE.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs: enhance CLAUDE.md and system prompt with scope, test, and verification disciplines
  CLAUDE.md
  src/config/claude-code/system-prompt.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(flake): add packages.default, per-tool checks, deduplicate eval
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

feat(flake): add konductor and workspace templates
  flake.nix
  templates/konductor/.envrc
  templates/konductor/.gitignore
  templates/konductor/flake.nix
  templates/workspace/.envrc
  templates/workspace/.gitignore
  templates/workspace/flake.nix
Due: nix-format, nix-lint, nix-deadcode

docs: source-verified README shell specifications and IDE tooling
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

ci: add GitHub Actions CI with braincraftio cachix binary cache
  .github/workflows/ci.yml
  .github/workflows/pages.yaml
  flake.nix
  templates/konductor/flake.nix
  templates/workspace/flake.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, actions-lint

ci: add release workflow, reusable nix build, and CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .releaserc.json
  CONTRIBUTING.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links, actions-lint

fix(ci): pin semantic-release plugin versions, update GitHub Actions
  .github/workflows/nix.yml
  .github/workflows/pages.yaml
  .github/workflows/release.yml
Due: prettier-check, yaml-lint, actions-lint

fix(ci): replace cycjimmy action with direct npx semantic-release
  .github/workflows/release.yml
Due: prettier-check, yaml-lint, actions-lint

feat(ci): build full and konductor devshells for cachix hydration
  .github/workflows/nix.yml
Due: prettier-check, yaml-lint, actions-lint

fix(ci): add GitHub Actions nix store cache, disable FlakeHub telemetry
  .github/workflows/nix.yml
Due: prettier-check, yaml-lint, actions-lint

fix(ci): unpin semantic-release versions, let npm resolve compatibility
  .github/workflows/release.yml
Due: prettier-check, yaml-lint, actions-lint

chore(ci): resolve semantic-release preset version incompatibility
  .github/semantic-release/package-lock.json
  .github/semantic-release/package.json
  .github/workflows/release.yml
  nixos-org-manual-nixos-stable.man
Due: prettier-check, yaml-lint, actions-lint

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  ce5c1fb2eecaa166a3a1acfebdfd9b6112166e11
Due: none

fix(ci): gate release on CI success, cachix push only after release
  .github/workflows/ci.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier-check, yaml-lint, actions-lint

feat(ci): add multi-platform CI matrix and frontend devshell build
  .github/workflows/nix.yml
Due: prettier-check, yaml-lint, actions-lint

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  8d8cdcfb87bb9b3bd22abc01f9c087bc4abf39e4
Due: none

fix(ci): disable GitHub Actions nix cache, use cachix only
  .github/workflows/nix.yml
Due: prettier-check, yaml-lint, actions-lint

fix: drop x86_64-darwin support, nixpkgs-unstable 26.11 removed it
  .github/workflows/nix.yml
  flake.nix
  templates/konductor/flake.nix
  templates/workspace/flake.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, actions-lint

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  dbe34f24761eb5a9398ab4a9c17ba10cab429db1
Due: none

feat: add terminal-browser package, skill integration, BROWSER env var
  src/config/claude-code/default.nix
  src/devshells/full.nix
  src/lib/versions.nix
  src/overlays/default.nix
  src/overlays/terminal-browser.nix
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

feat(www): derive all version data from src/lib/versions.nix SSOT
  .config/mise/toml/www.toml
  .github/workflows/pages.yaml
  flake.nix
  src/devshells/base.nix
  www/sites/konductor.sh/astro.config.mjs
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/reference/shells.mdx
  www/sites/konductor.sh/src/pages/specs.astro
Due: js-quality, js-style, prettier-check, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, actions-lint

fix(www): eliminate dark mode flash with shared palette anti-flash CSS
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/styles/palette.ts
Due: js-quality, js-style, prettier-check, spell-check

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  6d9afaf699fae7c679ff66eada858148f4973070
Due: none

fix(www): CI=true for pnpm install, approve-builds, .npmrc confirm-modules-purge
  .config/mise/toml/www.toml
  www/sites/konductor.sh/.npmrc
  www/sites/konductor.sh/pnpm-workspace.yaml
Due: prettier-check, yaml-lint, toml-lint

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  876a027bef4b624169edd244eec40e6ce317ae4d
Due: none

feat(claude-code): add deepwiki RAG query engineering skill to konductor-practitioner
  src/config/claude-code/plugins/konductor-practitioner/skills/deepwiki/SKILL.md
Due: prettier-check, markdown-style, spell-check, markdown-links

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  901ebf52ce7343e4917979315acad717e319d49e
Due: none

fix(opencode): v1 permission schema, nixd LSP key, inline commit command
  src/config/opencode/commands/commit.md
  src/config/opencode/config.nix
  src/config/opencode/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(opencode): hermetic OpenCode harness via env var injection
  src/config/default.nix
  src/config/opencode/commands/commit.md
  src/config/opencode/config.nix
  src/config/opencode/default.nix
  src/config/opencode/instructions.md
  src/config/opencode/tui.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
