Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

feat(pki): add Python PKI certificate generation package
  src/pki/__init__.py
  src/pki/__main__.py
  src/pki/cli.py
  src/pki/config.py
  src/pki/crypto/__init__.py
  src/pki/crypto/bundle.py
  src/pki/crypto/ca.py
  src/pki/crypto/extensions.py
  src/pki/crypto/keys.py
  src/pki/crypto/leaf.py
  src/pki/fingerprint.py
  src/pki/identity.py
  src/pki/tests/__init__.py
  src/pki/tests/test_pki.py
  src/pki/utils.py
Due: python-style, python-types, python-security, spell-check

feat(pki): replace OpenSSL CLI with python3 -m pki in NixOS services
  docs/developer_guide/qcow2/BUILD.md
  src/modules/pki.nix
  src/packages/languages.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(cloudinit): add runcmd diagnostics and PKI attestation to serial console
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(pki): use python3.withPackages for cryptography in systemd services
  src/modules/pki.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): change hypervisor dir to 0755, add journalctl to runcmd
  docs/developer_guide/qcow2/BUILD.md
  src/modules/pki.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(build): add nix flake metadata and outputs to preflight attestation
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): redirect pytest cache to /tmp to avoid permission denied warning
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(build): regenerate PKI certs after provenance for X.509 attestation
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(restty-web): add restty WebGPU/WebGL2 terminal as third web TTY option
  src/modules/restty-web-rw.nix
  src/modules/restty-web.nix
  src/programs/restty-web/default.nix
  src/programs/restty-web/index.html
  src/programs/restty-web/package.json
  src/programs/restty-web/server.js
  src/qcow2/default.nix
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check, html-lint

fix(restty-web): use builtin theme API, fix internal API usage
  src/modules/restty-web.nix
  src/programs/restty-web/default.nix
  src/programs/restty-web/index.html
  src/programs/restty-web/package-lock.json
  src/programs/restty-web/server.js
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check, html-lint

fix(qcow2): remove cloud-final.service hard dep from konductor-init
  src/packages/ai.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): deduplicate after attr, use cloud-init.service dep for konductor-init
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): replace all cloud-final.service deps with cloud-init.service
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2,pki): add services.toml to build userdata, fix wildcard key perms
  docs/developer_guide/qcow2/BUILD.md
  src/modules/pki.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(pki): split wildcard key permissions into separate systemd service
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): add 27 pre-installed vscode extensions and default settings
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): replace silent provenance degradation with strict validation
  docs/developer_guide/qcow2/BUILD.md
  src/pki/cli.py
  src/pki/config.py
  src/pki/fingerprint.py
  src/pki/identity.py
  src/pki/tests/test_pki.py
Due: python-style, python-types, python-security, prettier-check, markdown-style, spell-check, markdown-links

feat(pki): add source tree self-discovery and cross-validation
  docs/developer_guide/qcow2/BUILD.md
  src/pki/cli.py
  src/pki/config.py
  src/pki/crypto/extensions.py
  src/pki/fingerprint.py
  src/pki/identity.py
Due: python-style, python-types, python-security, prettier-check, markdown-style, spell-check, markdown-links

refactor(provenance): remove all hash truncation from tags and display
  .envrc
  docs/developer_guide/qcow2/BUILD.md
  src/pki/fingerprint.py
  src/pki/identity.py
  src/qcow2/default.nix
Due: python-style, python-types, python-security, prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(provenance): rename truncation properties, remove dead unknown guards
  src/pki/identity.py
  src/qcow2/default.nix
Due: python-style, python-types, python-security, nix-format, nix-lint, nix-deadcode, spell-check

refactor(services): remove singleton modules, add ghostty template, update port bases for 500-user scale
  src/modules/default.nix
  src/modules/ghostty-web-rw.nix
  src/modules/ghostty-web.nix
  src/modules/restty-web-rw.nix
  src/modules/restty-web.nix
  src/modules/ttyd-rw.nix
  src/modules/ttyd.nix
  src/programs/ghostty-web/server.js
  src/qcow2/default.nix
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check

feat(konductor): implement multi-tier PKI and dynamic firewall management
  src/lib/cert-precedence.nix
  src/modules/pki.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): add dynamic hypervisor CA trust and global git configuration
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): move konductor-dynamic-ca-trust service into systemd.services block
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): use security.pki.certificateFiles for dynamic CA trust
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): remove impure pathExists, point git directly to mounted CA
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

wip
  .env.oci.example
  .envrc
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

vendor flake inputs for offline self-replication
  .envrc
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
  flake.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

vendor flake inputs for offline self-replication
  .gitignore
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

vendor flake inputs for offline self-replication
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

wip
  .gitignore
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(bug) enable gitea url env var direnv inheritance
  .env.docker-dev.example
Due: none

fix(rust): use minimal profile to exclude rust-docs
  .envrc
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
  src/packages/languages.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): enable offline nixos-rebuild with full build closure
  docs/developer_guide/qcow2/OCI.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(oci): show real-time nix build progress and reduce redundant builds
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): use system.includeBuildDependencies for offline rebuild
  docs/developer_guide/qcow2/OCI.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): disable nixpkgs in registry to prevent 50k file closure bloat
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

test
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

refactor(flake): canonical github: URLs + standalone OCI pipeline
  docs/developer_guide/FLAKE.md
  flake.lock
  flake.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

perf(qcow2): replace cptofs with in-VM file copying via virtiofs
  src/qcow2/default.nix
  src/qcow2/format-qcow-efi-fast.nix
  src/qcow2/make-disk-image-fast.nix
Due: nix-format, nix-lint, nix-deadcode

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
