Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

feat(cli): add kubernetes and IaC tooling
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

chore(flake) update
  flake.lock
Due: none

feat(devshell): add pulumi-language-python and native lib support
  src/devshells/full.nix
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

feat(neovim): add barbar.nvim tabline plugin
  flake.lock
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(neovim): enhance LSP and barbar integration
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(neovim): enhance nvim-cmp with icons, sorting, and cmdline completion
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(devcontainer): add systemd-based devcontainer with nix-daemon
  .config/mise/toml/docker.toml
  .devcontainer/Dockerfile.systemd
  .devcontainer/compose/systemd.yml
  .devcontainer/devcontainer.json
  .devcontainer/rootfs/etc/profile.d/01-system-paths.sh
  .devcontainer/rootfs/etc/profile.d/02-locale-fix.sh
  .devcontainer/rootfs/etc/profile.d/nix-daemon-client.sh
  .devcontainer/rootfs/etc/skel/.bashrc
  .devcontainer/rootfs/etc/skel/.config/mise/config.toml
  .devcontainer/rootfs/etc/skel/.profile
  .devcontainer/rootfs/etc/sudoers.d/debian
  .devcontainer/rootfs/etc/systemd/system/docker-socket-link.service
  .mise.toml
  compose.yaml
Due: prettier-check, shell-syntax, yaml-lint, toml-lint, docker-lint

fix(devcontainer): workspace path and git config defaults
  .devcontainer/Dockerfile.systemd
  .devcontainer/compose/systemd.yml
  .devcontainer/devcontainer.json
  .devcontainer/rootfs/etc/gitconfig
  compose.yaml
Due: prettier-check, yaml-lint, docker-lint

chore(flake): update rust-overlay and normalize flakehub URLs
  flake.lock
Due: none

feat(neovim): enhance telescope, treesitter, conform, and which-key
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(devcontainer): pre-build devshell and switch to github flake inputs
  .devcontainer/Dockerfile.systemd
  .devcontainer/compose/systemd.yml
  .dockerignore
  flake.lock
  flake.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, docker-lint

fix(overlay): disable lualine-nvim tests in nix sandbox
  .dockerignore
  src/overlays/default.nix
  src/overlays/vim-plugins.nix
Due: nix-format, nix-lint, nix-deadcode

feat(deploy): add kubevirt kustomize deployment for konductor VM
  .gitignore
  deploy/kubevirt/README.md
  deploy/kubevirt/base/konductor.yaml
  deploy/kubevirt/base/kustomization.yaml
  deploy/kubevirt/base/namespace.yaml
  deploy/kubevirt/overlays/advanced/kustomization.yaml
  deploy/kubevirt/overlays/advanced/network-attachment-definitions.yaml
  deploy/kubevirt/overlays/advanced/networkdata.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

feat(qcow2): add containerDisk image and size optimizations
  .dockerignore
  .gitignore
  Dockerfile.qcow2
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): add runme build automation and direnv integration
  .config/bin/ssh
  .env.example
  .envrc
  .ssh/config
  docs/developer_guide/RUNME.md
  docs/developer_guide/qcow2/BUILD.md
  runme.yaml
  src/config/shell/.bashrc
  src/packages/cli.nix
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

refactor(qcow2): streamline BUILD.md for clarity and CI/CD
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(qcow2): restructure BUILD.md with phase-based organization
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(qcow2): add index, prerequisites, usage documentation
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(runme): add progressive disclosure task naming convention
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/runme/RUNME.md
  docs/developer_guide/runme/TASKS.md
  runme.yaml
  src/config/shell/.bashrc
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

fix(envrc): use offline mode for airgap VM at /opt/konductor
  .envrc
Due: none

feat(qcow2): add cloud-init proxy configuration support
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(devshells): add ci shell and forgejo tooling
  flake.lock
  flake.nix
  src/devshells/ci.nix
  src/devshells/default.nix
  src/devshells/dev.nix
  src/lib/users.nix
  src/lib/versions.nix
  src/programs/default.nix
  src/programs/forgejo/default.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(shell): replace static ssh/starship configs with Nix wrappers
  .config/bin/ssh
  .ssh/config
  src/config/shell/ssh.nix
  src/config/shell/starship.nix
  src/config/shell/starship.toml
Due: toml-lint, nix-format, nix-lint, nix-deadcode

feat(devshells): integrate hermetic SSH config and add VM build tools
  src/config/default.nix
  src/devshells/ci.nix
  src/devshells/default.nix
  src/devshells/dev.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/lib/shell-content.nix
  src/packages/cli.nix
  src/packages/default.nix
  src/packages/konductor.nix
  src/packages/network.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): pre-install full konductor toolchain and EFI boot
  docs/developer_guide/qcow2/BUILD.md
  src/oci/default.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(kubevirt): add EFI boot, runner user, and proxy overlay
  deploy/kubevirt/base/konductor.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  deploy/kubevirt/overlays/proxy/kustomization.yaml
  deploy/kubevirt/overlays/proxy/userdata.yaml
Due: prettier-check, yaml-lint

chore: remove redundant .mise.toml and simplify .envrc
  .envrc
  .mise.toml
Due: toml-lint

feat(mise): add hermetic SSH config generation for nix:qcow2 task
  .config/mise/toml/nix.toml
  flake.nix
Due: toml-lint, nix-format, nix-lint, nix-deadcode

docs: add VM development workflow and clarify SSH config
  README.md
  runme.yaml
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

chore: update flake.lock
  flake.lock
Due: none

fix(git): use system config instead of global to allow user overrides
  src/config/shell/git.nix
Due: nix-format, nix-lint, nix-deadcode

docs(runme): add setup documentation and fix example block pollution
  docs/developer_guide/SETUP.md
  docs/developer_guide/runme/RUNME.md
  runme.yaml
  src/config/shell/.bashrc
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

docs(runme): add nix flake operations documentation
  docs/developer_guide/nix/README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(runme): add lint and format documentation
  docs/developer_guide/LINT.md
  flake.lock
  src/config/formatters/taplo/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(lint): resolve statix, deadnix, and shellcheck warnings
  .config/mise/lib/execution.sh
  .devcontainer/rootfs/etc/profile.d/01-system-paths.sh
  .devcontainer/rootfs/etc/profile.d/02-locale-fix.sh
  .devcontainer/rootfs/etc/profile.d/nix-daemon-client.sh
  src/config/shell/bash.nix
  src/config/shell/starship.toml
  src/devshells/ci.nix
  src/devshells/konductor.nix
  src/oci/default.nix
  src/programs/forgejo/default.nix
  src/qcow2/default.nix
Due: shell-syntax, toml-lint, nix-format, nix-lint, nix-deadcode

style(nix): apply nixpkgs-fmt whitespace cleanup
  src/lib/versions.nix
  src/packages/cli.nix
  src/packages/formatters.nix
  src/packages/konductor.nix
  src/packages/linters.nix
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(neovim): migrate to flat nixvim architecture with snacks.nvim
  .gitignore
  src/packages/cli.nix
  src/packages/formatters.nix
  src/packages/ide.nix
  src/programs/neovim/autocmds.nix
  src/programs/neovim/banner.nix
  src/programs/neovim/default.nix
  src/programs/neovim/extraConfig.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/options.nix
  src/programs/neovim/plugins.nix
Due: nix-format, nix-lint, nix-deadcode

style(tmux): add catppuccin macchiato theme with slanted separators
  src/programs/neovim/autocmds.nix
  src/programs/neovim/banner.nix
  src/programs/neovim/default.nix
  src/programs/neovim/extraConfig.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/plugins.nix
  src/programs/tmux/default.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(neovim): streamline config and enhance snacks.nvim integration
  README.md
  docs/images/konductor-neovim-dashboard.png
  flake.lock
  src/programs/neovim/autocmds.nix
  src/programs/neovim/default.nix
  src/programs/neovim/extraConfig.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/plugins.nix
  src/programs/tmux/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

docs: update neovim dashboard screenshot
  docs/images/konductor-neovim-dashboard.png
Due: none

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
