Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}

feat(nix): nftables DNAT, PKI module, devshell refactor
  docs/DOCKER-COMPOSE.networking-primitives-capabilities-omnibus.md
  docs/KONDUCTOR.networking-firewall-nat-masquerade-nix-firewall-iptables-nftables-omnibus.md
  docs/NIX_SHELL_ENVS_HOOKS_SHELL_PRE_POST_HELPERS_PATTERNS_IMPLEMENTATION.md
  flake.lock
  flake.nix
  src/config/shell/.bashrc
  src/config/shell/atuin.nix
  src/config/shell/ssh.nix
  src/devshells/base.nix
  src/devshells/ci.nix
  src/devshells/dev.nix
  src/devshells/frontend.nix
  src/devshells/full.nix
  src/devshells/go.nix
  src/devshells/konductor.nix
  src/devshells/node.nix
  src/devshells/python.nix
  src/devshells/rust.nix
  src/modules/default.nix
  src/modules/pki.nix
  src/packages/cli.nix
  src/packages/default.nix
  src/packages/network.nix
  src/programs/tmux/default.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(qcow2): add SSH client config for localhost:2222 in /etc/ssh/ssh_config
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(env): default container registry to registry.docker.arpa
  .env.example
Due: none

feat(qcow2): registry.docker.arpa workflow with cluster CA TLS
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

chore(deps): update rust-overlay
  flake.lock
Due: none

feat(env): switch Linux devshell to konductor
  .envrc
Due: none

chore(gitignore): add QCOW2 build artifacts
  .gitignore
Due: none

feat(qcow2): provenance verification service and MOTD
  src/packages/cli.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): supply chain provenance and multi-tag OCI workflow
  .env.example
  Dockerfile.qcow2
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(qcow2): add VERIFY.md for build provenance verification
  docs/developer_guide/qcow2/VERIFY.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): add cluster, registry, and all-in-one pipeline tasks
  .dockerignore
  .env.example
  docs/developer_guide/qcow2/BUILD.md
  runme.yaml
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

chore(update) nix flake update
  flake.lock
Due: none

chore(nix): update flake lock
  flake.lock
Due: none

feat(devshells): add docker tooling to full shell
  src/devshells/full.nix
Due: nix-format, nix-lint, nix-deadcode

fix(neovim): remove explorer auto-open on file open
  src/programs/neovim/autocmds.nix
Due: nix-format, nix-lint, nix-deadcode

fix(direnv): guard use flake for child source_up inheritance
  .envrc
Due: none

fix(qcow2): git bundle sync, serial console, validation pipeline
  .gitignore
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): use sudo for git clone in vm sync
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): host nix store overlay for build acceleration
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): correct systemd after dependency for overlay service
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): remove automount from 9p host-store mount for overlay activation
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): WORKSPACE_ROOT preservation and runme environment isolation
  .env.example
  .envrc
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): promote task WORKSPACE_ROOT paths and docker credential fallback
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

wip
  .env.example
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): Docker network conflict and systemd service improvements
  flake.lock
  src/devshells/ci.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(forgejo): override runner with flat_workspace_mode fork
  src/programs/forgejo/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(forgejo): update runner fork to include_server_host and fix systemd service
  src/programs/forgejo/default.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): add KUBECONFIG derivation to registry:trust task
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(cli): add gnugrep to cli packages
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): export BASH_ENV for non-interactive shell hermetic config
  .env.example
  src/config/shell/.bashrc
  src/config/shell/bash.nix
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): runner user CI environment integration
  src/devshells/ci.nix
  src/packages/default.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(ci): add comprehensive environment validation workflow
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

feat(qcow2): add runner-test task and OVMF session variables
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

debug(ci): add OVMF environment debugging to validation workflow
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(ci): add OVMF to forgejo-runner service and nixos-rebuild preflight
  .forgejo/workflows/validate-environment.yaml
  src/programs/forgejo/default.nix
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

refactor(forgejo): use flake input for runner source
  flake.lock
  flake.nix
  src/programs/default.nix
  src/programs/forgejo/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): add GIT_PAGER=cat to suppress terminal warning
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(qcow2): add /run/wrappers/bin to forgejo-runner PATH
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): remove nixos-rebuild switch from validation workflow
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(ci): use ripgrep syntax in docker validation
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint
