Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}

fix(pki): use RequiresMountsFor to fix signed cert race condition
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): wait for cloud-init to complete mounts before cert signing
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

feat(pki): add system trust installation for Docker and TLS clients
  src/modules/pki.nix
  src/pki/cli.py
Due: python-style, python-types, python-security, nix-format, nix-lint, nix-deadcode, spell-check

fix(pki): make konductor-pki-trust.service conditional on hypervisor CA
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): add missing os import to cli.py
  docs/developer_guide/qcow2/BUILD.md
  src/pki/cli.py
Due: python-style, python-types, python-security, prettier-check, markdown-style, spell-check, markdown-links

fix(modules): pass catppuccinSources to common.mkPackages via flake input
  src/modules/common.nix
  src/modules/darwin.nix
  src/modules/home-manager.nix
  src/modules/nixos.nix
Due: nix-format, nix-lint, nix-deadcode

fix(packages): remove linter/formatter duplicates from languages.nix
  src/modules/common.nix
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

feat(modules): wire mkPrograms, mkHomeFiles, mkFullEnv into home-manager module
  src/config/shell/.bashrc
  src/modules/common.nix
  src/modules/home-manager.nix
Due: nix-format, nix-lint, nix-deadcode

fix(packages): remove unwrapped tree from ide.nix to fix buildEnv collision
  src/packages/ide.nix
Due: nix-format, nix-lint, nix-deadcode

fix(packages): remove standalone typescript from nodejsPackages
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

fix(packages): remove duplicates from ide.nix that exist in default packages
  src/packages/ide.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): source hm-session-vars.sh in bash_profile
  src/lib/shell-content.nix
Due: nix-format, nix-lint, nix-deadcode

feat(modules): add JetBrains Mono Nerd Font to mkPackages
  src/modules/common.nix
Due: nix-format, nix-lint, nix-deadcode

fix(modules): exclude BASH_ENV from mkFullEnv to prevent fork bomb
  src/modules/common.nix
Due: nix-format, nix-lint, nix-deadcode

fix(modules): override SSL_CERT_FILE in mkFullEnv for non-NixOS targets
  src/modules/common.nix
Due: nix-format, nix-lint, nix-deadcode

chore(config): disable proxy, update flake inputs, extend treeignore
  .envrc
  flake.lock
  src/config/tree/.treeignore
Due: none

fix(oci): remove flake- prefix from QCOW2 provenance tags
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(oci): remove build-time cloud-init user and SSH credentials from shipped image
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(oci): unify env vars to CONTAINER_REGISTRY/IMAGE/TAG, remove .env.oci.example
  .env.oci.example
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(mount): rewrite konductor-mount@ to TOML-based config
  src/qcow2/konductor-mount-template.nix
Due: nix-format, nix-lint, nix-deadcode

fix(mount): add After=cloud-init.service to prevent udev vs write_files race
  src/qcow2/konductor-mount-template.nix
Due: nix-format, nix-lint, nix-deadcode

fix: include konductor self-hosting packages in home-manager module
  src/modules/common.nix
Due: nix-format, nix-lint, nix-deadcode

fix: include konductor env vars (OVMF_CODE, OVMF_VARS, DOCKER_BUILDKIT) in home-manager
  src/modules/home-manager.nix
Due: nix-format, nix-lint, nix-deadcode

feat: always show username@hostname in starship prompt for multi-host awareness
  src/config/shell/starship.toml
Due: toml-lint

fix(prettier): add prettier-plugin-slidev for multi-frontmatter markdown
  src/config/formatters/prettier/.prettierrc.yaml
  src/config/formatters/prettier/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

fix(prettier): split declare+assign to satisfy shellcheck SC2155
  src/config/formatters/prettier/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(prettier): replace local with plain variable for shellcheck SC2168
  src/config/formatters/prettier/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(prettier): use buildNpmPackage for prettier-plugin-slidev
  src/config/formatters/prettier/default.nix
  src/config/formatters/prettier/prettier-plugin-slidev.package-lock.json
Due: prettier-check, nix-format, nix-lint, nix-deadcode

fix(build): define QCOW2_BUILD_FILE in BUILD.md runme tasks
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): align BUILD.md CONTAINER_IMAGE default to braincraft/konductor
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): separate build and push phases between OCI.md and BUILD.md
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): restore containercraft/konductor for PROMOTE_IMAGE defaults
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(build): use containercraft/konductor for all CONTAINER_IMAGE defaults
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(home-manager): add LD_LIBRARY_PATH with stdenv.cc.cc.lib
  src/modules/home-manager.nix
Due: nix-format, nix-lint, nix-deadcode

fix(build): disable slidev plugin, complete home-manager devshell parity
  src/config/formatters/prettier/.prettierrc.yaml
  src/config/formatters/prettier/default.nix
  src/modules/home-manager.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

refactor(ci): modularize pipeline into docs/ci/ with parallel build+platform
  docs/ci/README.md
  docs/ci/TASKS.design-architecture-implementation-omnibus-ci-overhaul-complete-exhaustive.md
  docs/ci/build.md
  docs/ci/dev.md
  docs/ci/platform.md
  docs/ci/promote.md
  docs/ci/push.md
  docs/ci/registry.md
  docs/ci/validate.md
  docs/ci/verify.md
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): use full nix store paths for mount/mkdir/grep in nix-store-overlay
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): increase default VM memory from 8G to 16G
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): swap console= order so ttyS0 is primary serial output
  docs/ci/dev.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

chore: remove stale docs/developer_guide/qcow2/ documentation files
  docs/developer_guide/qcow2/CLOUDINIT.md
  docs/developer_guide/qcow2/CLOUD_INIT_NIXOS_INTEGRATION.md
  docs/developer_guide/qcow2/SECURE_BOOT.md
  docs/developer_guide/qcow2/UPDATE.md
Due: prettier-check, markdown-style, spell-check, markdown-links
