Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

fix(nix): pre-trust konductor flake and cachix substituters
  src/oci/default.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(docker): create writable /tmp directory in Dockerfile
  Dockerfile
  src/oci/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(env): expand XDG variables at runtime instead of build time
  src/lib/env.nix
  src/lib/shell-content.nix
Due: nix-format, nix-lint, nix-deadcode

feat(ide): add neovim plugin dependencies
  src/packages/ide.nix
Due: nix-format, nix-lint, nix-deadcode

fix(neovim): resolve healthcheck errors and plugin initialization
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(mise): bump min_nix_version to 2.25.11
  .mise.toml
Due: toml-lint

feat(ai): add codex and github-copilot-cli
  src/packages/ai.nix
Due: nix-format, nix-lint, nix-deadcode

feat(neovim): add github copilot integration
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(flake): point nixvim to nixpkgs-unstable
  flake.lock
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

feat(neovim): add keymaps for AI CLIs and Neo-tree
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(nix): centralize nixos version and align nixvim to nixpkgs
  flake.lock
  flake.nix
  src/lib/versions.nix
  src/oci/default.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(nix): hermetic XDG vars and markdownlint config
  .mise.toml
  flake.lock
  flake.nix
  src/config/linters/markdownlint/.markdownlint-cli2.yaml
  src/config/linters/markdownlint/.markdownlint.yaml
  src/config/linters/markdownlint/default.nix
  src/devshells/base.nix
  src/devshells/default.nix
  src/lib/env.nix
  src/lib/shell-content.nix
  src/modules/home-manager.nix
  src/oci/default.nix
  src/packages/formatters.nix
  src/packages/linters.nix
  src/programs/neovim/default.nix
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode

docs(github): add authentication guide
  docs/GITHUB_AUTHENTICATION.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(readme): add comprehensive project documentation
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(docker): add dev container with IDE tools baked in
  Dockerfile.dev
Due: none

docs(readme): remove marketing fluff
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(shell): native bashrc with hermetic aliases and kubectl completion
  README.md
  src/config/shell/.bashrc
  src/config/shell/bash.nix
  src/devshells/base.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

refactor(config): enforce hermetic wrapper pattern across all tools
  src/config/formatters/biome/default.nix
  src/config/formatters/prettier/default.nix
  src/config/formatters/taplo/default.nix
  src/config/linters/bandit/default.nix
  src/config/linters/commitlint/default.nix
  src/config/linters/eslint/default.nix
  src/config/linters/golangci-lint/default.nix
  src/config/linters/hadolint/default.nix
  src/config/linters/htmlhint/default.nix
  src/config/linters/lychee/default.nix
  src/config/linters/mypy/default.nix
  src/config/linters/ruff/default.nix
  src/config/linters/shellcheck/default.nix
  src/config/linters/stylelint/default.nix
  src/config/linters/yamllint/default.nix
  src/config/shell/git.nix
  src/config/shell/starship.nix
Due: nix-format, nix-lint, nix-deadcode

docs(readme): add nix registry as primary usage path
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(readme): fix qcow2 instructions for nix store permissions
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): add mise task with cloud-init user provisioning
  .config/mise/toml/nix.toml
  README.md
Due: prettier-check, toml-lint, markdown-style, spell-check, markdown-links

feat(qcow2): add self-hosting capabilities and virtio performance
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

docs(qcow2): add three-tier QEMU launch commands
  .config/mise/toml/nix.toml
  README.md
Due: prettier-check, toml-lint, markdown-style, spell-check, markdown-links

feat(devshells): add konductor self-hosting shell with lean QCOW2 image
  .config/mise/toml/nix.toml
  flake.nix
  src/devshells/base.nix
  src/devshells/default.nix
  src/devshells/konductor.nix
  src/packages/default.nix
  src/packages/konductor.nix
  src/qcow2/default.nix
Due: toml-lint, nix-format, nix-lint, nix-deadcode

docs(readme): update QCOW2 section with konductor shell and copy-friendly blocks
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(cloud-init): add --refresh flag for FlakeHub URL mismatches
  .config/mise/toml/nix.toml
Due: toml-lint

fix(qcow2): install services without auto-start, use nix build for pre-build
  .config/mise/toml/nix.toml
  README.md
  src/qcow2/default.nix
Due: prettier-check, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(cloud-init): use full path for nix in runcmd
  .config/mise/toml/nix.toml
Due: toml-lint

fix(cloud-init): use full nix path and clean stale builds
  .config/mise/toml/nix.toml
Due: toml-lint

fix(devshells): show only konductor banner in konductor shell
  src/devshells/base.nix
  src/devshells/konductor.nix
Due: nix-format, nix-lint, nix-deadcode

fix(users): swap uids so kc2admin is 1000 for host compatibility
  src/lib/users.nix
Due: nix-format, nix-lint, nix-deadcode

feat(cloud-init): auto-mount 9p share to /workspace
  .config/mise/toml/nix.toml
  README.md
Due: prettier-check, toml-lint, markdown-style, spell-check, markdown-links

fix(cloud-init): move 9p mount to runcmd for late execution
  .config/mise/toml/nix.toml
Due: toml-lint

feat(qcow2): add dynamic host user and nix:qcow2:run task
  .config/mise/toml/nix.toml
Due: toml-lint

fix(cloud-init): reserve uid 1000 for dynamic host user
  .config/mise/toml/nix.toml
  flake.lock
  src/lib/users.nix
Due: toml-lint, nix-format, nix-lint, nix-deadcode

feat(qcow2): add VM lifecycle tasks and auto-enter devshell
  .config/mise/toml/nix.toml
  README.md
  src/qcow2/default.nix
Due: prettier-check, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): mount workspace before long-running tasks in cloud-init
  .config/mise/toml/nix.toml
  README.md
Due: prettier-check, toml-lint, markdown-style, spell-check, markdown-links

fix(devshell): remove XDG exports that caused literal $HOME directory
  .config/mise/toml/nix.toml
  src/devshells/base.nix
  src/lib/env.nix
  src/lib/shell-content.nix
  src/qcow2/default.nix
Due: toml-lint, nix-format, nix-lint, nix-deadcode

chore(docs) add deepwiki markdown badge
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
