Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

docs: add opencode automation guide
  docs/OPENCODE_AUTOMATION.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(opencode): add git-commit skill for conventional commits
  .opencode/skill/git-commit/SKILL.md
Due: prettier-check, markdown-style, spell-check, markdown-links

docs(opencode): enhance git-commit skill with v1.0.0 spec and detailed ceremony
  .opencode/skill/git-commit/SKILL.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(opencode): add commit command and improve skill documentation
  .opencode/command/commit.md
  .opencode/skill/git-commit/SKILL.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(shell): add atuin shell history with workspace-aware fuzzy search
  src/config/default.nix
  src/config/shell/.bashrc
  src/config/shell/atuin.nix
  src/config/shell/atuin.toml
  src/devshells/full.nix
Due: toml-lint, nix-format, nix-lint, nix-deadcode

refactor(shell): simplify atuin init to single source of truth
  src/config/shell/atuin.nix
  src/devshells/konductor.nix
Due: nix-format, nix-lint, nix-deadcode

fix(starship): silence error on dumb terminals
  src/config/shell/.bashrc
  src/lib/shell-content.nix
  src/programs/shell/bash.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): remove ssh wrapper that blocked user config
  src/config/shell/ssh.nix
Due: nix-format, nix-lint, nix-deadcode

fix(neovim): prevent explorer from stealing focus on file open
  src/programs/neovim/autocmds.nix
Due: nix-format, nix-lint, nix-deadcode

feat(cli): add helm and move kubernetes tools to unstable
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

chore(update) nix flake update
  flake.lock
Due: none

chore: add website-specific gitignore entries
  .gitignore
Due: none

feat(docs-ui): polish UI with theme toggle, copy features, and refined MDX components
  www/sites/konductor.sh/package.json
  www/sites/konductor.sh/src/components/Navbar.tsx
  www/sites/konductor.sh/src/components/Sidebar.tsx
  www/sites/konductor.sh/src/components/docs/CodeBlock.tsx
  www/sites/konductor.sh/src/components/docs/CodeBlockScript.astro
  www/sites/konductor.sh/src/components/docs/CopyButton.tsx
  www/sites/konductor.sh/src/components/docs/MDXComponents.tsx
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/content/docs/guides/building-images.mdx
  www/sites/konductor.sh/src/content/docs/reference/shells.mdx
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/pages/about.astro
  www/sites/konductor.sh/src/pages/index.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/specs.astro
  www/sites/konductor.sh/src/styles/global.css
  www/sites/konductor.sh/tailwind.config.mjs
  www/sites/konductor.sh/tests/style-audit.spec.ts
Due: js-quality, js-style, prettier-check, spell-check, css-lint

fix(docs): fix double headers and enhance typography
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
Due: none

chore(frontend): add Playwright MCP and environment fixes
  .envrc
  flake.nix
  opencode.json
  src/devshells/default.nix
  src/devshells/frontend.nix
  src/packages/cli.nix
  src/packages/languages.nix
  www/sites/konductor.sh/astro.config.mjs
  www/sites/konductor.sh/package.json
  www/sites/konductor.sh/public/images/konductor.png
  www/sites/konductor.sh/src/components/Navbar.tsx
  www/sites/konductor.sh/src/components/Sidebar.tsx
  www/sites/konductor.sh/src/content/config.ts
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/content/docs/guides/building-images.mdx
  www/sites/konductor.sh/src/content/docs/reference/shells.mdx
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/pages/index.astro
  www/sites/konductor.sh/src/pages/manifesto.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/manual/index.astro
  www/sites/konductor.sh/src/pages/specs.astro
  www/sites/konductor.sh/src/styles/global.css
  www/sites/konductor.sh/tailwind.config.mjs
  www/sites/konductor.sh/tsconfig.json
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check, css-lint

feat(ui): overhaul home and docs with premium design
  www/sites/konductor.sh/src/components/Typewriter.tsx
  www/sites/konductor.sh/src/components/docs/CopyButton.tsx
  www/sites/konductor.sh/src/components/docs/DataFlowDiagram.tsx
  www/sites/konductor.sh/src/components/docs/MDXComponents.tsx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/pages/index.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
Due: js-quality, js-style, prettier-check, spell-check

fix(ui): resolve contrast issues in DataFlowDiagram output tags
  www/sites/konductor.sh/src/components/docs/DataFlowDiagram.tsx
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
Due: js-quality, js-style, prettier-check, spell-check

feat(ui): refine documentation visuals
  www/sites/konductor.sh/src/components/docs/DataFlowDiagram.tsx
  www/sites/konductor.sh/src/styles/global.css
Due: js-quality, js-style, prettier-check, spell-check, css-lint

fix(theme): implement aurora style guide for sidebar toggle and global opaque surfaces
  www/sites/konductor.sh/src/components/Navbar.tsx
  www/sites/konductor.sh/src/components/Sidebar.tsx
  www/sites/konductor.sh/src/components/docs/CodeBlock.tsx
  www/sites/konductor.sh/src/components/docs/HierarchyDiagram.tsx
  www/sites/konductor.sh/src/content/docs/reference/shells.mdx
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/styles/global.css
Due: js-quality, js-style, prettier-check, spell-check, css-lint

chore(flake) nix flake update
  flake.lock
Due: none

feat(ui): implement persistent sidebar and enhance theme system
  www/sites/konductor.sh/package.json
  www/sites/konductor.sh/src/components/Navbar.tsx
  www/sites/konductor.sh/src/components/Sidebar.tsx
  www/sites/konductor.sh/src/components/docs/CodeBlock.tsx
  www/sites/konductor.sh/src/components/docs/MDXComponents.tsx
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/pages/about.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/specs.astro
  www/sites/konductor.sh/src/styles/global.css
  www/sites/konductor.sh/tailwind.config.mjs
Due: js-quality, js-style, prettier-check, spell-check, css-lint

chore(opencode): remove config files, now inherited from parent workspace
  .opencode/command/commit.md
  .opencode/skill/git-commit/SKILL.md
  opencode.json
Due: prettier-check, markdown-style, spell-check, markdown-links

chore: disable mise tool manager in favor of nix devshell
  .mise.toml.disabled
Due: none

fix(devshells): make frontend extend konductor for QCOW2 builds
  flake.nix
  src/devshells/frontend.nix
Due: nix-format, nix-lint, nix-deadcode

chore(envrc): use frontend shell and load parent .env
  .envrc
Due: none

feat(qcow2): add preflight check and fix rsync excludes
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): add OVMF env vars for nested VM builds
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(overlays): disable setproctitle tests on macOS Tahoe
  src/overlays/default.nix
  src/overlays/python-packages.nix
Due: nix-format, nix-lint, nix-deadcode

fix(shell): move atuin init to .bashrc for interactive shell context
  src/config/shell/.bashrc
  src/config/shell/atuin.nix
Due: nix-format, nix-lint, nix-deadcode

feat(devshell): add hermetic alias wrappers with bash completions
  src/config/shell/.bashrc
  src/devshells/base.nix
  src/devshells/ci.nix
  src/devshells/dev.nix
  src/devshells/frontend.nix
  src/devshells/full.nix
  src/devshells/go.nix
  src/devshells/konductor.nix
  src/devshells/node.nix
  src/devshells/python.nix
  src/devshells/rust.nix
  src/lib/alias-wrappers.nix
  src/packages/cli.nix
  src/packages/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(cli): add hubble and cilium-cli for network observability
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

fix(darwin): exclude setproctitle/LLVM deps on macOS Tahoe
  src/overlays/default.nix
  src/overlays/python-packages.nix
  src/packages/default.nix
  src/packages/formatters.nix
  src/packages/languages.nix
  src/programs/default.nix
  src/programs/neovim/default.nix
  src/programs/neovim/plugins.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update flake inputs
  flake.lock
Due: none

fix(rust): add cargo-tauri + idiomatic lib.makeLibraryPath for runtime deps
  src/devshells/ci.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/devshells/rust.nix
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

feat(frontend): add Tauri 2.x desktop application build dependencies
  src/devshells/frontend.nix
  src/packages/default.nix
  src/packages/tauri.nix
Due: nix-format, nix-lint, nix-deadcode

fix(packages): add netcat-gnu
  src/packages/network.nix
Due: nix-format, nix-lint, nix-deadcode

fix(network): replace netcat-gnu with libressl netcat
  src/packages/network.nix
Due: nix-format, nix-lint, nix-deadcode

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
