Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}

feat(ci): add Forgejo runner VM with automated deployment
  .forgejo/workflows/hello.yaml
  deploy/kubevirt/overlays/forgejo-runners/.gitignore
  deploy/kubevirt/overlays/forgejo-runners/deploy.sh
  deploy/kubevirt/overlays/forgejo-runners/kustomization.yaml
  deploy/kubevirt/overlays/forgejo-runners/namespace.yaml
  deploy/kubevirt/overlays/forgejo-runners/network-attachment-definitions.yaml
  deploy/kubevirt/overlays/forgejo-runners/networkdata.yaml
  deploy/kubevirt/overlays/forgejo-runners/virtualmachine.yaml
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, shell-syntax, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(devshell): add Cloudflare CLI tools and commitlint support
  .envrc
  deploy/kubevirt/overlays/forgejo-runners/deploy.sh
  docs/user_guide/OPENCODE.md
  example.env
  lefthook.yml
  opencode.json
  src/config/default.nix
  src/config/linters/markdownlint/.markdownlint-cli2.yaml
  src/config/opencode/default.nix
  src/devshells/dev.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/packages/ide.nix
  src/packages/linters.nix
  src/programs/neovim/autocmds.nix
  src/programs/neovim/extraConfig.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/plugins.nix
Due: prettier-check, shell-syntax, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

chore: add mise.toml config and update flake.lock
  .mise.toml
  flake.lock
Due: toml-lint

feat(go): add Go documentation tooling and release automation
  docs/go-mise-tasks.toml
  src/config/linters/golangci-lint/.golangci.yml
  src/packages/ide.nix
  src/packages/languages.nix
Due: prettier-check, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode

feat(go): add code generation tooling
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

feat(claude): add Claude Code ecosystem and MCP integration
  .envrc
  .mcp.json
  example.env
  flake.lock
  src/packages/ai.nix
  src/packages/ide.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode

feat(git): add hermetic git credential helpers for GitHub and Forgejo
  src/devshells/ci.nix
  src/devshells/konductor.nix
  src/lib/shell-content.nix
  src/packages/ide.nix
Due: nix-format, nix-lint, nix-deadcode

feat(kubevirt): add serial-based virtio disk mount convention
  deploy/kubevirt/base/konductor.yaml
  deploy/kubevirt/overlays/advanced/deploy.sh
  deploy/kubevirt/overlays/advanced/git-pvc.yaml
  deploy/kubevirt/overlays/advanced/kubeconfig-generator.yaml
  deploy/kubevirt/overlays/advanced/kustomization.yaml
  deploy/kubevirt/overlays/advanced/networkdata.yaml
  deploy/kubevirt/overlays/advanced/serviceaccount.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/usrbinkat-home-pvc.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  deploy/kubevirt/overlays/forgejo-runners/deploy.sh
  deploy/kubevirt/overlays/forgejo-runners/kubeconfig-generator.yaml
  deploy/kubevirt/overlays/forgejo-runners/kustomization.yaml
  deploy/kubevirt/overlays/forgejo-runners/network-attachment-definitions.yaml
  deploy/kubevirt/overlays/forgejo-runners/networkdata.yaml
  deploy/kubevirt/overlays/forgejo-runners/runner-workspace-pvc.yaml
  deploy/kubevirt/overlays/forgejo-runners/serviceaccount.yaml
  deploy/kubevirt/overlays/forgejo-runners/virtualmachine.yaml
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
Due: prettier-check, shell-syntax, yaml-lint, nix-format, nix-lint, nix-deadcode

fix(kubevirt): increase root disk to 120Gi and add cloud-init resize
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  deploy/kubevirt/overlays/forgejo-runners/deploy.sh
  deploy/kubevirt/overlays/forgejo-runners/virtualmachine.yaml
Due: prettier-check, shell-syntax, yaml-lint

fix(kubevirt): systemd mount template and network routing bugs
  deploy/kubevirt/overlays/advanced/kustomization.yaml
  deploy/kubevirt/overlays/advanced/networkdata.yaml
  deploy/kubevirt/overlays/advanced/registry-credentials.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  deploy/kubevirt/overlays/forgejo-runners/virtualmachine.yaml
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/SECURE_BOOT.md
  flake.lock
  flake.nix
  src/packages/cli.nix
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(build): use kc2 group for shared access and fix OCI push
  deploy/kubevirt/overlays/advanced/userdata.yaml
  docs/developer_guide/qcow2/BUILD.md
  src/lib/users.nix
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(build): use current user for result/ dir (QEMU needs write access)
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): CoW overlay for nix store, skopeo push, custom registry auth
  .gitignore
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(konductor): self-hosting build support
  .envrc
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

fix(deploy): correct interface mapping and devshell loading
  .envrc
  deploy/kubevirt/overlays/advanced/networkdata.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
Due: prettier-check, yaml-lint

fix(build): resolve nix PATH for sudo guestfs commands
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(nix): use libguestfs-with-appliance for guestmount support
  .envrc
  src/packages/konductor.nix
Due: nix-format, nix-lint, nix-deadcode

fix(mount): expand path abbreviations in konductor-mount template
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  src/lib/shell-content.nix
  src/oci/default.nix
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode

feat(nixpkgs) add ipmi redfishtool megacli tools
  src/packages/konductor.nix
Due: nix-format, nix-lint, nix-deadcode

fix(build): use absolute path for date command in qcow2 tasks
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

fix(qcow2): set BASH_ENV for non-interactive bash PATH
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

docs(runme): refactor BUILD.md with DRY pattern and update RUNME.md
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/runme/RUNME.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(deploy): add containers policy.json and sudo -E for env preservation
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/forgejo-runners/deploy.sh
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, shell-syntax, yaml-lint, markdown-style, spell-check, markdown-links

refactor(kubevirt): migrate from OVS to Linux bridge for nested virtualization
  deploy/kubevirt/overlays/advanced/deploy.sh
  deploy/kubevirt/overlays/advanced/git-pvc.yaml
  deploy/kubevirt/overlays/advanced/network-attachment-definitions.yaml
  deploy/kubevirt/overlays/advanced/networkdata.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/usrbinkat-home-pvc.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
Due: prettier-check, shell-syntax, yaml-lint

fix(qcow2): use static filename for build pipeline
  .dockerignore
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): add runner to wheel for guestfs sudo access
  src/lib/users.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(ci): add Forgejo workflow for QCOW2 containerDisk build
  .forgejo/workflows/build-qcow2.yaml
Due: prettier-check, yaml-lint

docs: add project instructions for AI assistance
  CLAUDE.md
Due: prettier-check, markdown-style, spell-check, markdown-links

refactor(kubevirt): consolidate kustomize v2 with disk optimizations and instance overlays
  deploy/kubevirt/base/konductor.yaml
  deploy/kubevirt/base/kubeconfig-generator.yaml
  deploy/kubevirt/base/kustomization.yaml
  deploy/kubevirt/base/network-attachment-definitions.yaml
  deploy/kubevirt/base/networkdata.yaml
  deploy/kubevirt/base/serviceaccount.yaml
  deploy/kubevirt/overlays/advanced/kustomization.yaml
  deploy/kubevirt/overlays/forgejo-runners/deploy.sh
  deploy/kubevirt/overlays/forgejo-runners/kustomization.yaml
  deploy/kubevirt/overlays/forgejo-runners/namespace.yaml
  deploy/kubevirt/overlays/forgejo-runners/network-attachment-definitions.yaml
  deploy/kubevirt/overlays/forgejo-runners/networkdata.yaml
  deploy/kubevirt/overlays/forgejo-runners/runner-workspace-pvc.yaml
  deploy/kubevirt/overlays/forgejo-runners/serviceaccount.yaml
  deploy/kubevirt/overlays/instances/k901/deploy.sh
  deploy/kubevirt/overlays/instances/k901/kustomization.yaml
  deploy/kubevirt/overlays/instances/k901/vm-patch.yaml
  deploy/kubevirt/overlays/instances/k9fr01/deploy.sh
  deploy/kubevirt/overlays/instances/k9fr01/kubeconfig-generator.yaml
  deploy/kubevirt/overlays/instances/k9fr01/kustomization.yaml
  deploy/kubevirt/overlays/instances/k9fr01/vm-patch.yaml
Due: prettier-check, shell-syntax, yaml-lint

feat(kubevirt): implement golden image snapshot cloning system
  deploy/kubevirt/base/konductor.yaml
  deploy/kubevirt/golden-images/deploy.sh
  deploy/kubevirt/golden-images/konductor-golden-dv.yaml
  deploy/kubevirt/golden-images/konductor-golden-snapshot.yaml
  deploy/kubevirt/golden-images/kustomization.yaml
  deploy/kubevirt/golden-images/rbac.yaml
  deploy/kubevirt/golden-images/registry-credentials.yaml
  deploy/kubevirt/overlays/advanced/deploy.sh
  deploy/kubevirt/overlays/advanced/kustomization.yaml
  deploy/kubevirt/overlays/advanced/userdata.yaml
  deploy/kubevirt/overlays/advanced/virtualmachine.yaml
  deploy/kubevirt/overlays/advanced/workspace-pvc.yaml
  deploy/kubevirt/overlays/forgejo-runners/virtualmachine.yaml
  deploy/kubevirt/overlays/instances/k901/kustomization.yaml
  deploy/kubevirt/overlays/instances/k901/usrbinkat-home-pvc.yaml
  deploy/kubevirt/overlays/instances/k901/vm-patch.yaml
  deploy/kubevirt/overlays/instances/k9fr01/vm-patch.yaml
  flake.lock
  src/devshells/konductor.nix
  src/lib/aliases.nix
  src/packages/cli.nix
  src/qcow2/konductor-mount-template.nix
Due: prettier-check, shell-syntax, yaml-lint, nix-format, nix-lint, nix-deadcode

nix flake update
  flake.lock
Due: none

fix(devshells): restrict konductor and ci shells to Linux
  .envrc
  src/devshells/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(neovim): conditionally enable wl-copy clipboard on Linux only
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update flake inputs
  flake.lock
Due: none

fix(flake): restrict konductor/ci devshells and qcow2 to x86_64-linux
  flake.nix
  src/devshells/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(opencode): add mcp servers and fix title generation
  opencode.json
  src/config/opencode/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode

fix(starship): silence error on dumb terminals
  src/config/shell/starship.nix
Due: nix-format, nix-lint, nix-deadcode

docs(readme): fix lix install and update version references
  README.md
Due: prettier-check, markdown-style, spell-check, markdown-links

refactor(neovim): reorganize ai keymaps and fix checkhealth warnings
  src/packages/ide.nix
  src/programs/default.nix
  src/programs/neovim/autocmds.nix
  src/programs/neovim/banner.nix
  src/programs/neovim/default.nix
  src/programs/neovim/extraConfig.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/plugins.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(qcow2): consolidate programs config and apply formatting
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode
