Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}

feat(package) add skopeo
  src/devshells/full.nix
Due: nix-format, nix-lint, nix-deadcode

feat(aliases): enhance tree alias with icons, sorting, and ignore patterns
  src/lib/aliases.nix
Due: nix-format, nix-lint, nix-deadcode

chore(update) nix flake update
  flake.lock
Due: none

feat(ttyd): add web terminal with embedded fonts and systemd module
  flake.lock
  src/devshells/konductor.nix
  src/modules/default.nix
  src/modules/ghostty-web.nix
  src/modules/ttyd.nix
  src/overlays/default.nix
  src/overlays/ttyd.nix
  src/programs/default.nix
  src/programs/ghostty-web/default.nix
  src/programs/ghostty-web/index.html
  src/programs/ghostty-web/package-lock.json
  src/programs/ghostty-web/package.json
  src/programs/ghostty-web/server.js
  src/programs/ttyd/default.nix
  src/qcow2/default.nix
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check, html-lint

docs(qcow2): format BUILD.md tables and escape markdown
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): commit flake.lock and konductor-verify for clean build
  .vscode/mcp.json
  docs/developer_guide/qcow2/BUILD.md
  flake.lock
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): add QEMU boot order and remove duplicate workspace mount
  .config/mise/toml/nix.toml
  .mcp.json
  .vscode/mcp.json
Due: prettier-check, toml-lint

docs(qcow2): add boot sequence architecture and cloud-init NixOS guide
  .gitignore
  docs/BOOTSEQUENCE.md
  docs/developer_guide/qcow2/CLOUD_INIT_NIXOS_INTEGRATION.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): consolidate reset into preflight and remove bashrc debug scaffolding
  docs/developer_guide/qcow2/BUILD.md
  src/config/shell/.bashrc
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): workspace group-only validation and mask libvirt-guests
  docs/BOOTSEQUENCE.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(ghostty-web): add robust path traversal protection
  src/programs/ghostty-web/server.js
Due: js-quality, js-style, prettier-check, spell-check

bug(qcow2) vm storage
  .envrc
  flake.lock
  src/modules/pki.nix
  src/modules/ttyd.nix
  src/qcow2/default.nix
  src/qcow2/konductor-mount-template.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): expose skopeo inspect errors in promote task
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): enable /etc overlay with systemd initrd for runtime config
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

docs(qcow2): add cloud-init configuration guide
  docs/developer_guide/qcow2/CLOUDINIT.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(ghostty-web): build-time font embedding, SSL, reverse proxy support
  src/modules/ghostty-web.nix
  src/programs/ghostty-web/default.nix
  src/programs/ghostty-web/index.html
  src/programs/ghostty-web/server.js
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check, html-lint

feat(qcow2): enterprise terminal access control, fix circular dependency
  src/modules/default.nix
  src/modules/ghostty-web-rw.nix
  src/modules/ttyd-rw.nix
  src/programs/ghostty-web/server.js
  src/qcow2/default.nix
Due: js-quality, js-style, prettier-check, nix-format, nix-lint, nix-deadcode, spell-check

docs(qcow2): add validate-services task for web terminal health checks
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(config): add ff wrapper for hermetic fastfetch system enumeration
  src/config/default.nix
  src/config/fastfetch/default.nix
  src/config/fastfetch/fastfetch.jsonc
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

docs(qcow2): add ff system enumeration to build pipeline
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): SSH key-only auth, validate-services cleanup
  .env.docker-dev.example
  docs/developer_guide/qcow2/BUILD.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

feat(qcow2): enable web terminal services with wantedBy=[]
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): web terminal services run as kc2admin with expanded limits
  src/modules/ghostty-web-rw.nix
  src/modules/pki.nix
  src/modules/ttyd-rw.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(modules): disable NoNewPrivileges for admin web terminals
  src/modules/ghostty-web-rw.nix
  src/modules/ttyd-rw.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ghostty-web): use NixOS-compatible shell path
  src/programs/ghostty-web/server.js
Due: js-quality, js-style, prettier-check, spell-check

fix(ttyd): use NixOS-compatible shell path
  src/modules/ttyd-rw.nix
  src/modules/ttyd.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update flake inputs
  flake.lock
  src/config/tree/.treeignore
  src/config/tree/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(tree): switch wrapper from tree to eza with pattern-based filtering
  src/config/default.nix
  src/config/tree/default.nix
  src/lib/aliases.nix
  src/packages/cli.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(devshells): use UV_PROJECT_ENVIRONMENT for venv activation
  src/devshells/ci.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/devshells/python.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(k9s): add Catppuccin Frappe theme via catppuccin/nix flake
  flake.lock
  flake.nix
  src/config/default.nix
  src/config/k9s/default.nix
  src/devshells/default.nix
  src/oci/default.nix
  src/packages/cli.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

docs(qcow2): use NixOS-compatible shell path in runme frontmatter
  docs/developer_guide/qcow2/BUILD.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(shell): source /etc/profile in bash_profile for proxy env vars
  src/lib/shell-content.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): prevent systemd deadlock in konductor-proxy-setup service
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

remove www directory
  www/sites/konductor.sh/astro.config.mjs
  www/sites/konductor.sh/package.json
  www/sites/konductor.sh/public/images/konductor.png
  www/sites/konductor.sh/src/components/Navbar.tsx
  www/sites/konductor.sh/src/components/Sidebar.tsx
  www/sites/konductor.sh/src/components/Typewriter.tsx
  www/sites/konductor.sh/src/components/docs/CodeBlock.tsx
  www/sites/konductor.sh/src/components/docs/CodeBlockScript.astro
  www/sites/konductor.sh/src/components/docs/CopyButton.tsx
  www/sites/konductor.sh/src/components/docs/DataFlowDiagram.tsx
  www/sites/konductor.sh/src/components/docs/HierarchyDiagram.tsx
  www/sites/konductor.sh/src/components/docs/MDXComponents.tsx
  www/sites/konductor.sh/src/content/config.ts
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/content/docs/guides/building-images.mdx
  www/sites/konductor.sh/src/content/docs/reference/shells.mdx
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/pages/about.astro
  www/sites/konductor.sh/src/pages/index.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/manual/index.astro
  www/sites/konductor.sh/src/pages/specs.astro
  www/sites/konductor.sh/src/styles/global.css
  www/sites/konductor.sh/tailwind.config.mjs
  www/sites/konductor.sh/tests/style-audit.spec.ts
  www/sites/konductor.sh/tsconfig.json
Due: js-quality, js-style, prettier-check, spell-check, css-lint

feat(qcow2): add multi-user service orchestration with systemd templates
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): implement multi-user vscode service orchestration
  src/packages/cli.nix
  src/packages/konductor.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(heredoc) indentation error
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode
