Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

Notes added by 'git notes add'
  0e28945272139331324c5e5c974a222bb95ae1f7
Due: none

fix(home-manager): wire opencode env vars into sessionVariables
  src/modules/home-manager.nix
Due: nix-format, nix-lint, nix-deadcode

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  962a63578c569099e290eec8adbd592c535a654e
Due: none

refactor(home-manager): migrate shell config to programs.bash
  src/modules/common.nix
  src/modules/home-manager.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(home-manager): migrate shell config to programs.bash
  src/modules/common.nix
Due: nix-format, nix-lint, nix-deadcode

fix(opencode): OPENCODE_CONFIG file path replaces inline JSON, native shell files
  src/config/opencode/default.nix
  src/config/shell/.bash_profile_extra
  src/config/shell/.bashrc_extra
  src/modules/common.nix
Due: nix-format, nix-lint, nix-deadcode

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  be57b448d009a5f55a6d7f28ca200e8f9056de01
Due: none

feat(devshells): add passthru.withExtraPython for downstream Python extension
  src/devshells/default.nix
  src/packages/default.nix
  src/packages/languages.nix
Due: nix-format, nix-lint, nix-deadcode

chore(update) flake
  flake.lock
Due: none

fix(versions): go 1.25 -> 1.26, 1.25 removed from nixpkgs
  src/lib/versions.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): nodejs_20 -> nodejs_22, Node 20 EOL removed from nixpkgs
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(deps): home-manager and nixvim track master to match nixpkgs fork
  flake.lock
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

feat(deps): opencode v2 via usrbinkat/opencode overlay
  flake.nix
  src/packages/ide.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update opencode to self-contained overlay fix
  flake.lock
Due: none

chore(nixConfig): add usrbinkat.cachix.org substituter
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update nixpkgs to dcb71679b129
  flake.lock
Due: none

fix(deps): nixvim and nixpkgs-unstable follow nixpkgs fork
  flake.lock
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update nixpkgs to dcb71679 (bun2nix rev fix)
  flake.lock
Due: none

chore(deps): update nixpkgs to 357594cd (opencode pinned rev)
  flake.lock
Due: none

fix(nixvim): drop flake-parts follows to suppress nixpkgs.source warning
  flake.lock
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): update nixpkgs to 82f17b10 (self-hosting bun2nix)
  flake.lock
Due: none

fix(neovim): remove opencode-nvim v1 plugin and all references
  src/programs/neovim/autocmds.nix
  src/programs/neovim/extraConfig.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/plugins.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): nix flake update
  flake.lock
Due: none

fix(neovim): remove copilot-lua, restore nixvim nixpkgs follows
  flake.nix
  src/programs/neovim/keymaps.nix
  src/programs/neovim/plugins.nix
Due: nix-format, nix-lint, nix-deadcode

fix(nixvim): set nixpkgs.source, update flake.lock for follows
  flake.lock
  src/programs/neovim/default.nix
Due: nix-format, nix-lint, nix-deadcode

chore(deps): rebase nixpkgs fork onto nixpkgs-unstable for cache coverage
  flake.lock
Due: none

chore(deps): update home-manager to d2a22a3
  flake.lock
Due: none

chore(deps): nixpkgs 314e6495 (LLVM removed from fork, cache parity restored)
  flake.lock
Due: none

chore(deps): update nixlib, opencode, bun2nix
  flake.lock
Due: none

chore(deps): nixpkgs e5ed164e (opencode 2.0.3 -> 2.0.10 in fork)
  flake.lock
Due: none

chore(deps): nixpkgs 5d5919d0 (opencode 2.0.10 desktop sidecar fix)
  flake.lock
Due: none

chore(deps): nixpkgs e7584fef, opencode 0c96c478
  flake.lock
Due: none

chore(deps): nixpkgs e7eccba3 (opencode-desktop by-name, rev 4853a401)
  flake.lock
Due: none

chore(deps): update nixpkgs lock to 93d3e076
  flake.lock
Due: none

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: prettier-check, markdown-style, spell-check, markdown-links

Notes added by 'git notes add'
  67fbf6bbaa542b7f5b0eaba70dcccfb8b6d1f124
Due: none

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
