Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

chore(update) nix flake update
  flake.lock
Due: none

feat(ci): reference WORKSPACE_TOKEN secret in all workflows
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  .forgejo/workflows/flake-check.yaml
  .forgejo/workflows/promote.yaml
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(ci): align workflow paths and image defaults with current repo layout
  .env.docker-dev.example
  .envrc
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  .forgejo/workflows/validate-environment.yaml
Due: prettier-check, yaml-lint

fix(ci): unset GITHUB_TOKEN before nix vendor to prevent Forgejo token leaking to GitHub API
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): unset GITHUB_TOKEN before nix operations, fix statix lint warnings
  .forgejo/workflows/ci-build.yaml
  docs/ci/dev.md
  src/qcow2/default.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

debug(ci): add set -x and nix auth diagnostics to vendor task
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): strip NIX_CONFIG access-tokens in vendor task as defense-in-depth
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(overlay): override stale anthropic.claude-code VSIX hash
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(overlay): preserve .vsix filename in claude-code hash override
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): add infrastructure repo clone, quiet CI output
  .forgejo/workflows/ci-build.yaml
  docs/ci/build.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

fix(ci): use git clone for infrastructure repo (actions/checkout path sandboxed)
  .forgejo/workflows/ci-build.yaml
Due: prettier-check, yaml-lint

fix(ci): quiet noisy output, fix VM repo setup for cache hits
  .forgejo/workflows/ci-build.yaml
  docs/ci/build.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

fix(ci): complete pipeline with validation and promotion steps
  .forgejo/workflows/ci-build.yaml
Due: prettier-check, yaml-lint

fix(ci): remove set -x from vendor task
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(env): remove CI=true from interactive sessions, fix @{HOME} PAM syntax
  .env.docker-dev.example
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): add --check-tmpdir=ignore to virt-sparsify
  docs/ci/build.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): replace inline shell with runme tasks
  .forgejo/workflows/ci-build.yaml
Due: prettier-check, yaml-lint

fix(ci): correct repo name in runner validation, quiet git push
  docs/ci/validate.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(pulumi): provide all provider SDKs and runtime deps via nix withPackages
  src/packages/cli.nix
  src/packages/languages.nix
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

feat(pulumi): add pyright to pythonDeps for Pulumi typechecker
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pulumi): build pyright from PyPI wheel for Pulumi typechecker
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): remove hanging unshallow, add set -x for runner validation debug
  docs/ci/validate.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(devshell): ensure withPackages python3 wins PATH over bare interpreter
  src/devshells/ci.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/devshells/python.nix
  src/packages/cli.nix
  src/packages/default.nix
  src/packages/ide.nix
  src/packages/languages.nix
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

fix(lint): use inherit syntax for pulumiPkg in cli.nix import
  src/packages/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(ci): add shared repo config, permission restore, and shallow fix
  docs/ci/build.md
  docs/ci/validate.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): restore group permissions after nixos-rebuild in dev:rebase
  docs/ci/dev.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(ci): unshallow workspace before validate:runner push
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  docs/ci/validate.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

fix(ci): move promote registry auth early for fast-fail, fix skopeo authfile
  .forgejo/workflows/ci-build.yaml
  docs/ci/promote.md
Due: prettier-check, yaml-lint, markdown-style, spell-check, markdown-links

feat(versions): bump Go from 1.24 to 1.25
  src/lib/versions.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(config): align org identity and defaults to containercraft
  .env.docker-dev.example
  .envrc
  .forgejo/workflows/ci-build.yaml
  .forgejo/workflows/ci-e2e.yaml
  CLAUDE.md
  docs/ci/README.md
  docs/ci/build.md
  docs/ci/dev.md
  docs/ci/promote.md
  docs/ci/push.md
  docs/ci/registry.md
  docs/ci/test-env.md
  docs/ci/validate.md
  flake.nix
Due: prettier-check, yaml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(overlay): update Claude Code VSIX hash for 2.1.92
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(flake): drop nixpkgs follows on open-sesame input for cachix hits
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

chore(flake): update open-sesame to v1.9.2 (no follows, cachix-compatible)
  flake.lock
Due: none

chore(flake): update catppuccin, nixlib, nixpkgs-unstable, rust-overlay
  flake.lock
Due: none

fix(overlay): update Claude Code VSIX hash for 2.1.96
  src/overlays/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(linters): add hermetic pyright wrapper with nix Python environment
  src/config/default.nix
  src/config/linters/pyright/default.nix
  src/packages/ide.nix
  src/packages/linters.nix
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

refactor(devshells): accumulative shell chain, merge CI into konductor
  flake.lock
  flake.nix
  src/devshells/ci.nix
  src/devshells/default.nix
  src/devshells/frontend.nix
  src/devshells/full.nix
  src/devshells/konductor.nix
  src/modules/common.nix
  src/modules/darwin.nix
  src/modules/home-manager.nix
  src/modules/nixos.nix
  src/packages/default.nix
  src/packages/ide.nix
  src/packages/pulumi.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(www): add konductor.sh Astro site with Aurora design system
  .config/mise/toml/www.toml
  .gitignore
  .mise.toml
  src/lib/versions.nix
  www/sites/konductor.sh/astro.config.mjs
  www/sites/konductor.sh/ec.config.mjs
  www/sites/konductor.sh/package.json
  www/sites/konductor.sh/public/favicon.svg
  www/sites/konductor.sh/public/images/konductor.png
  www/sites/konductor.sh/src/components/Navbar.astro
  www/sites/konductor.sh/src/components/Sidebar.astro
  www/sites/konductor.sh/src/components/TypeWriter.astro
  www/sites/konductor.sh/src/components/docs/Card.astro
  www/sites/konductor.sh/src/components/docs/CardGrid.astro
  www/sites/konductor.sh/src/components/docs/CopyButton.astro
  www/sites/konductor.sh/src/components/docs/FeatureList.astro
  www/sites/konductor.sh/src/components/docs/Note.astro
  www/sites/konductor.sh/src/components/docs/RefCard.astro
  www/sites/konductor.sh/src/components/docs/Section.astro
  www/sites/konductor.sh/src/content/config.ts
  www/sites/konductor.sh/src/content/docs/getting-started/installation.mdx
  www/sites/konductor.sh/src/content/docs/getting-started/introduction.mdx
  www/sites/konductor.sh/src/content/docs/guides/building-images.mdx
  www/sites/konductor.sh/src/content/docs/reference/shells.mdx
  www/sites/konductor.sh/src/layouts/Layout.astro
  www/sites/konductor.sh/src/pages/about.astro
  www/sites/konductor.sh/src/pages/index.astro
  www/sites/konductor.sh/src/pages/manual/[...slug].astro
  www/sites/konductor.sh/src/pages/manual/index.astro
  www/sites/konductor.sh/src/pages/specs.astro
  www/sites/konductor.sh/src/styles/global.css
  www/sites/konductor.sh/tests/style-audit.spec.ts
  www/sites/konductor.sh/tsconfig.json
Due: js-quality, js-style, prettier-check, toml-lint, nix-format, nix-lint, nix-deadcode, spell-check, css-lint

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
