Repository braincraftio/konductor: changes, and which lefthook commands are due for each by the changed paths.
All: python-style, python-types, python-security, js-quality, js-style, prettier-check, shell-syntax, yaml-lint, toml-lint, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links, actions-lint, docker-lint, go-lint, html-lint, css-lint

python-style:
  run: ruff check {staged_files}
  tags:
  - python
  - lint
  fail_text: 'Python style check failed.
  
    How to test: ruff check [files]
  
    '

python-types:
  run: mypy {staged_files}
  tags:
  - python
  - types
  fail_text: 'Python type check failed.
  
    How to test: mypy [files]
  
    '

python-security:
  run: bandit {staged_files}
  tags:
  - python
  - security
  fail_text: 'Python security check failed.
  
    How to test: bandit [files]
  
    '

js-quality:
  run: eslint {staged_files}
  tags:
  - javascript
  - lint
  fail_text: 'JavaScript quality check failed.
  
    How to test: eslint [files]
  
    '

js-style:
  run: biome check {staged_files}
  tags:
  - javascript
  - style
  fail_text: 'JavaScript style check failed.
  
    How to test: biome check [files]
  
    '

prettier-check:
  run: prettier --check {staged_files}
  tags:
  - format
  - style
  fail_text: 'Code formatting check failed.
  
    How to test: prettier --check [files]
  
    To fix: prettier --write [files]
  
    '

shell-syntax:
  run: shellcheck {staged_files}
  tags:
  - bash
  - lint
  fail_text: 'Shell syntax check failed.
  
    How to test: shellcheck [files]
  
    '

yaml-lint:
  run: yamllint {staged_files}
  tags:
  - config
  - yaml
  fail_text: 'YAML validation failed.
  
    How to test: yamllint [files]
  
    '

toml-lint:
  run: taplo check {staged_files}
  tags:
  - config
  - toml
  fail_text: 'TOML validation failed.
  
    How to test: taplo check [files]
  
    '

nix-format:
  run: nixpkgs-fmt --check {staged_files}
  tags:
  - nix
  - format
  fail_text: 'Nix format check failed.
  
    How to test: nixpkgs-fmt --check [files]
  
    '

nix-lint:
  run: statix check {staged_files}
  tags:
  - nix
  - lint
  fail_text: 'Nix lint check failed.
  
    How to test: statix check [files]
  
    '

nix-deadcode:
  run: deadnix --fail {staged_files}
  tags:
  - nix
  - deadcode
  fail_text: 'Dead Nix code detected.
  
    How to test: deadnix --fail [files]
  
    '

markdown-style:
  run: markdownlint-cli2 {staged_files}
  tags:
  - docs
  - markdown
  fail_text: 'Markdown style check failed.
  
    How to test: markdownlint-cli2 [files]
  
    '

spell-check:
  run: cspell {staged_files}
  tags:
  - docs
  - spelling
  fail_text: 'Spelling errors detected.
  
    How to test: cspell [files]
  
    '

markdown-links:
  run: lychee --offline {staged_files}
  tags:
  - docs
  - validation
  skip:
  - merge
  - rebase
  fail_text: 'Broken links detected.
  
    How to test: lychee --offline [files]
  
    '

actions-lint:
  run: actionlint
  tags:
  - ci
  - github
  fail_text: 'GitHub Actions validation failed.
  
    How to test: actionlint
  
    '

docker-lint:
  run: hadolint {staged_files}
  tags:
  - docker
  - lint
  fail_text: 'Dockerfile validation failed.
  
    How to test: hadolint [files]
  
    '

go-lint:
  run: golangci-lint run
  tags:
  - go
  - lint
  fail_text: 'Go lint check failed.
  
    How to test: golangci-lint run
  
    '

fix(qcow2): disable includeBuildDependencies, remove virt-manager
  src/devshells/konductor.nix
  src/packages/konductor.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(oci): replace 117GB build closure with runtime-only transfer
  docs/developer_guide/qcow2/OCI.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): resolve circular systemd dependency in konductor services
  .env.oci.example
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): resolve EnvironmentFile timing and PKI race conditions
  dbg.sh
  nixos-org-manual-nixos-stable.man
  src/modules/pki.nix
  src/qcow2/default.nix
Due: shell-syntax, nix-format, nix-lint, nix-deadcode

refactor(qcow2): remove nixos-generators, use native nixpkgs image building
  flake.lock
  flake.nix
  src/qcow2/default.nix
  src/qcow2/format-qcow-efi-fast.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): escape nftables comment quotes for systemd parsing
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

docs(qcow2): add UPDATE.md for live VM updates
  docs/developer_guide/qcow2/UPDATE.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): pass systemd %i specifier as argument to scripts
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pki): suppress openssl checkend stdout in cert-precedence
  src/lib/cert-precedence.nix
Due: nix-format, nix-lint, nix-deadcode

fix(tree): translate GNU tree flags to eza equivalents
  src/config/tree/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(tree): comprehensive GNU tree flag support with deduplication
  src/config/tree/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(vendor): read from committed flake.lock, prevent lock file modification
  docs/developer_guide/qcow2/OCI.md
  docs/developer_guide/qcow2/UPDATE.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(flake): restore github inputs for remote flake compatibility
  flake.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): use --override-input for offline builds with vendored inputs
  docs/developer_guide/qcow2/OCI.md
  docs/developer_guide/qcow2/UPDATE.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(qcow2): add VS Code Remote SSH support via nixos-vscode-server
  flake.lock
  flake.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): replace nixos-vscode-server with nix-ld for VS Code Remote SSH
  flake.lock
  flake.nix
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): add FHS symlinks for VS Code Remote SSH pre-flight checks
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): add dummy ldconfig for VS Code Remote SSH pre-flight
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): add VS Code Remote SSH support via buildFHSEnv
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

feat(qcow2): add system-wide FHS compatibility for VS Code Remote SSH
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): use environment.extraSetup to replace ldconfig
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): add /sbin/ldconfig symlink for VS Code CLI
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): remove personal user leak from OCI cloud-init
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(qcow2): apply all OCI tags in oci:container phase
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

feat(pki): auto-detect hypervisor CA for cross-signing with graceful fallback
  src/pki/cli.py
  src/pki/config.py
Due: python-style, python-types, python-security, spell-check

fix(proxy): implement wrapper script for nix-daemon proxy configuration
  docs/developer_guide/qcow2/OCI.md
  src/devshells/konductor.nix
  src/packages/cli.nix
  src/packages/konductor.nix
  src/packages/pulumi.nix
  src/qcow2/default.nix
Due: prettier-check, nix-format, nix-lint, nix-deadcode, markdown-style, spell-check, markdown-links

fix(qcow2): revert to user mode networking until passt available in image
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(cloud-init): quote runcmd shell commands with colons for YAML parsing
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(oci): stop cloud-init services before nixos-rebuild to prevent failures
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

chore(flake): update flake.lock for provenance compliance
  flake.lock
Due: none

fix(oci): use full hashes for OCI image tags, add flake lock tag
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(pulumi): use grpcio instead of grpc package name
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

fix(pulumi): don't add Python to PATH, only use via PULUMI_PYTHON_CMD
  src/packages/pulumi.nix
Due: nix-format, nix-lint, nix-deadcode

fix(qcow2): use nproc-2 for VM CPU allocation instead of hardcoded 4
  docs/developer_guide/qcow2/BUILD.md
  docs/developer_guide/qcow2/OCI.md
Due: prettier-check, markdown-style, spell-check, markdown-links

fix(pki): use cert-manager naming convention for hypervisor mount
  src/pki/config.py
Due: python-style, python-types, python-security, spell-check

fix(pki): align destination path with cert-manager naming
  docs/developer_guide/qcow2/OCI.md
  src/pki/config.py
Due: python-style, python-types, python-security, prettier-check, markdown-style, spell-check, markdown-links

test(pki): update test to use tls.key for hypervisor CA
  src/pki/tests/test_pki.py
Due: python-style, python-types, python-security, spell-check

fix(pki): complete cert-manager naming alignment across all components
  src/modules/pki.nix
Due: nix-format, nix-lint, nix-deadcode

fix(env): comment out QCOW2_VM_CPUS override in example configs
  .env.docker-dev.example
  .env.oci.example
Due: none

fix(qcow2): use glob expansion instead of find for sysfs virtio devices
  src/qcow2/default.nix
Due: nix-format, nix-lint, nix-deadcode

Path conditions:
  python-style: any of: *.py, but not: **/venv/**, **/.venv/**, **/site-packages/**
  python-types: any of: *.py, but not: **/venv/**, **/.venv/**
  python-security: any of: *.py
  js-quality: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**, **/dist/**, **/build/**
  js-style: any of: *.{js,jsx,ts,tsx,mjs,cjs}, but not: **/node_modules/**
  prettier-check: any of: *.{js,jsx,ts,tsx,json,css,scss,sass,html,md,markdown,yml,yaml}, but not: **/node_modules/**, **/dist/**, **/build/**
  shell-syntax: any of: *.{sh,bash}
  yaml-lint: any of: *.{yml,yaml}, but not: **/node_modules/**, **/.pnpm-store/**
  toml-lint: any of: *.toml
  nix-format: any of: *.nix
  nix-lint: any of: *.nix
  nix-deadcode: any of: *.nix
  markdown-style: any of: *.{md,markdown}
  spell-check: any of: *.{md,markdown,txt,js,jsx,ts,tsx,py,go,rs}
  markdown-links: any of: *.{md,markdown}
  actions-lint: any of: .github/workflows/*.{yml,yaml}
  docker-lint: any of: **/Dockerfile*
  go-lint: any of: *.go
  html-lint: any of: *.html
  css-lint: any of: *.{css,scss,sass}
